<%
if (typeof cssClasses == 'undefined') {
    cssClasses = '';
}
%>

<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="<%= cssClasses %>">
    <div class="main-cell">
        <a><span><%= mappedItem.label %></span></a>
    </div>
</li>
