/*
	image input is a 2 column fixed / fluid layout
		with preview on the left
		and info and input field on the right
*/
.input.file.image {

	.image-wrapper.avatar {
		width:50px;
		float:left;
	}
	.input-wrapper {
		float:right;
		width:100%;
		margin-left:-50px;
	}
	.input-wrapper-2 {
		margin-left:50px;
		padding-left:1em;
	}
}
