/*
	Password fields in passbolt have complexity "progress bar"
	and a custom layout to accomodate buttons on the left end
*/
.input-password-wrapper {
	.clearfix();
	width:90%;

	.input.password input{
		width:63%;
		float:left;
	}

	.actions.inline {
		float:right;
		margin-right:.5em;
		width:28%;
	}
	.actions.inline .button {
		float:left;
	}

	.password-complexity {

		.complexity-text {
			float:right;
			clear:right;
			width:28%;
			font-size:11px;
		}

		.progress {
			width:67%;
			border:1px solid @border-default;
			height:7px;
			display:block;
			clear:both;
			margin:.25em 0 .5em 0;
			float:left;
		}
		.progress-bar {
			background: @blacker;
			width: 1%;
			height: 5px;
			display: block;
			float: left;
			margin: 1px;

			&.very_weak {
				background: @blacker;
				width: 5%;
			}
			&.weak {
				background: @red;
				width: 10%;
			}
			&.fair {
				background: #fce94f;
				width: 60%;
			}
			&.strong {
				background: #66CC00;
				width: 80%;
			}
			&.very_strong {
				background: @green;
				width: 99.5%;
			}
		}
	}
}

.password-hints {
	li:before {
		content: "●";
		color: @background-disabled;
		padding-right:.5em;
	}
	li.success:before {
		 color: @green;
	}
	li.error:before {
		color: @red;
	}
}
