// @see base/components/forms/textinput.less
.security-token {
	font-size:1em; // 16px
	padding: .375em 1em; // 6 / 16px
	text-align:center;
	position:absolute;
	display:inline-block;
	margin-left:-4.125em; // 66px
    margin-top:.0625em; // 1px
	width:2em;
	border:0;
    border-left:1px solid @border-3;
  	line-height:1.5em; // 20px
	vertical-align: middle;
}
