.security-token {
	font-size:0.813em;
	padding:.5em 1em;
	text-align:center;
	position:absolute;
	display:inline-block;
	margin-left:-4em;
	width:2em;
	border:1px solid @border-default;
}
input:focus + .security-token {
	border:1px solid @border-focus;
}