<% if(controller.options.emptyValue) { %>
<option value=""><%== __('select a value') %></option>
<% } %>
<% for (var value in availableValues) { %>
<option value="<%== value %>"><%== availableValues[value] %></option>
<% } %>
