<IfModule mod_rewrite.c>
    RewriteEngine On
		RewriteBase /deploy
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
