<div class="mad-helper-component-box_decorator-header" style="background-color:#CC0000">header</div>
<div class="mad-helper-component-box_decorator-content"></div>
<div class="mad-helper-component-box_decorator-footer" style="background-color:#CC0000">footer</div>
