[submodule "app/webroot/js/steal"]
	path = app/webroot/js/steal
	url = git://github.com/passbolt/steal.git
	ignore = dirty
[submodule "app/webroot/js/lib/can"]
	path = app/webroot/js/lib/can
	url = git://github.com/passbolt/canjs.git
	ignore = dirty
[submodule "app/webroot/js/lib/jmvc"]
	path = app/webroot/js/lib/jmvc
	url = git://github.com/passbolt/jmvc-generators.git
	ignore = dirty
[submodule "app/webroot/js/lib/documentjs"]
	path = app/webroot/js/lib/documentjs
	url = git://github.com/passbolt/documentjs.git
	ignore = dirty
[submodule "app/webroot/js/lib/jquerypp"]
	path = app/webroot/js/lib/jquerypp
	url = git://github.com/passbolt/jquerypp.git
	ignore = dirty
[submodule "app/webroot/js/lib/funcunit"]
	path = app/webroot/js/lib/funcunit
	url = git://github.com/passbolt/funcunit.git
	ignore = dirty
