/app/Config/core.php
/app/Config/database.php
/app/Config/app.php
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/gpg/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*
/lib/Cake/Console/Templates/skel/tmp/
/build
/dist
.DS_Store
/tags
/app/webroot/js/app/config/config.json
/app/webroot/js/lib/mad/docs/
/app/webroot/js/lib/mad/docs.html
!empty

