parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/AccountSettings/src/Model/Table/AccountSettingsTable.php

		-
			message: "#^Unsafe access to private property Passbolt\\\\EmailNotificationSettings\\\\Utility\\\\EmailNotificationSettings\\:\\:\\$configSettingsSource through static\\:\\:\\.$#"
			count: 4
			path: plugins/PassboltCe/EmailNotificationSettings/src/Utility/EmailNotificationSettings.php

		-
			message: "#^Unsafe access to private property Passbolt\\\\EmailNotificationSettings\\\\Utility\\\\EmailNotificationSettings\\:\\:\\$defaultSettingsSource through static\\:\\:\\.$#"
			count: 4
			path: plugins/PassboltCe/EmailNotificationSettings/src/Utility/EmailNotificationSettings.php

		-
			message: "#^Unsafe access to private property Passbolt\\\\EmailNotificationSettings\\\\Utility\\\\EmailNotificationSettings\\:\\:\\$settings through static\\:\\:\\.$#"
			count: 5
			path: plugins/PassboltCe/EmailNotificationSettings/src/Utility/EmailNotificationSettings.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltCe/Folders/src/Service/Folders/FoldersCreateService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltCe/Folders/src/Service/Folders/FoldersDeleteService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltCe/Folders/src/Service/Resources/ResourcesAfterCreateService.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Log/src/Model/Table/ActionLogsTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Log/src/Model/Table/ActionsTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Log/src/Model/Table/EntitiesHistoryTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Log/src/Model/Table/PermissionsHistoryTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Log/src/Model/Table/SecretAccessesTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Mobile/src/Service/Transfers/TransfersCreateService.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Mobile/src/Service/Transfers/TransfersUpdateService.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltCe/Rbacs/src/Service/UiActions/UiActionsCreateService.php

		-
			message: "#^Dead catch \\- InvalidArgumentException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltCe/Reports/src/Controller/Reports/ReportsViewController.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/AccountRecovery/src/Service/AccountRecoveryOrganizationPolicies/AccountRecoveryOrganizationPolicyGetService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/AccountRecovery/src/Service/AccountRecoveryResponses/AccountRecoveryResponsesCreateService.php

		-
			message: "#^Access to an undefined property Passbolt\\\\Log\\\\Model\\\\Entity\\\\PermissionHistory\\:\\:\\$folder\\.$#"
			count: 1
			path: plugins/PassboltEe/AuditLog/src/Utility/ActionLogResultsParser.php

		-
			message: "#^Dead catch \\- App\\\\Error\\\\Exception\\\\ValidationException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/DirectorySync/src/Controller/DirectoryIgnoreController.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 2
			path: plugins/PassboltEe/DirectorySync/src/Controller/DirectoryIgnoreController.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/DirectorySync/src/Model/Table/DirectoryIgnoreTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltEe/DirectorySync/src/Model/Table/DirectoryIgnoreTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: plugins/PassboltEe/Sso/src/Service/SsoKeys/SsoKeysCreateService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/Tags/src/Controller/Tags/TagsDeleteController.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: plugins/PassboltEe/Tags/src/Controller/Tags/TagsUpdateController.php

		-
			message: "#^PHPDoc type array of property App\\\\Authenticator\\\\GpgAuthenticator\\:\\:\\$_config is not covariant with PHPDoc type array\\<string, mixed\\> of overridden property Authentication\\\\Authenticator\\\\AbstractAuthenticator\\:\\:\\$_config\\.$#"
			count: 1
			path: src/Authenticator/GpgAuthenticator.php

		-
			message: "#^Variable \\$user might not be defined\\.$#"
			count: 1
			path: src/Controller/Component/UserComponent.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Controller/Resources/ResourcesDeleteController.php

		-
			message: "#^PHPDoc tag @var for constant App\\\\Controller\\\\Settings\\\\SettingsIndexController\\:\\:SETTINGS_VISIBILITY_KEY with type array is incompatible with value 'settingsVisibility'\\.$#"
			count: 1
			path: src/Controller/Settings/SettingsIndexController.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Controller/Share/ShareController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Controller/Users/UsersEditController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Model/Table/GroupsTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Model/Table/ResourcesTable.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Model/Table/UsersTable.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Service/Comments/CommentsViewService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Service/Favorites/FavoritesDeleteService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Service/Groups/GroupGetService.php

		-
			message: "#^Dead catch \\- Cake\\\\Datasource\\\\Exception\\\\RecordNotFoundException is never thrown in the try block\\.$#"
			count: 1
			path: src/Service/Groups/GroupsUpdateService.php

		-
			message: "#^Comparison operation \"\\<\\=\" between 1 and 5 is always true\\.$#"
			count: 1
			path: src/Service/Resources/ResourcesAddService.php

		-
			message: "#^Dead catch \\- PDOException is never thrown in the try block\\.$#"
			count: 1
			path: src/Service/Resources/ResourcesAddService.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Service/Resources/ResourcesAddService.php
