parameters:
    level: 6
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - plugins
    bootstrapFiles:
        - config/bootstrap.php
    excludes_analyse:
        - **/templates/**
        - **/tests/**
