<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase</directory>
            <exclude>tests/TestCase/Command</exclude>
        </testsuite>
        <testsuite name="ce">
            <directory>plugins/PassboltCe/*/tests/TestCase</directory>
            <exclude>plugins/PassboltCe/WebInstaller/tests/TestCase</exclude>
        </testsuite>
        <testsuite name="dev">
            <directory>plugins/PassboltDev/*/tests/TestCase</directory>
        </testsuite>
        <testsuite name="ee">
            <directory>plugins/PassboltEe/*/tests/TestCase</directory>
        </testsuite>
        <testsuite name="installers">
            <directory>tests/TestCase/Command</directory>
            <directory>plugins/PassboltCe/WebInstaller/tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Ignore vendor tests in code coverage reports -->
    <source>
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">plugins/**/src/</directory>
        </include>
        <exclude>
            <file>src/Console/Installer.php</file>
        </exclude>
    </source>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension" />
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
</phpunit>
