<div class="tableview-header">
    <table>
        <thead>
            <tr>
<% for (var i in columnModel) { %>
    <%== can.view.render('mad/view/template/component/grid/gridColumnHeader.ejs', {columnModel: columnModel[i], control: control}); %>
<% } %>
            </tr>
        </thead>
    </table>
</div>
<div class="tableview-content scroll">
    <table>
        <tbody>
        </tbody>
    </table>
</div>
