<th class="js_grid_column js_grid_column_<%= columnModel.name %> cell_<%= columnModel.name %> <%= columnModel.css.join(' ') %>">

<% if(columnModel.sortable) { %>
    <a>
<% } %>

    <%== columnModel.label %>

<% if(columnModel.sortable) { %>
    </a>
<% } %>

</th>
