<ul>
	<li class="comment-wrapper">
        <form id="js_comment_add_form" class="form comment add">
            <div class="wrap-right-column">
                <div class="right-column">
                    <div class="form-content">
                        <input name="data[comment][parent_id]" class="js_comment_parent_id required" type="hidden" />
                        <input name="data[comment][foreign_id]" class="js_comment_foreign_id required" type="hidden" />
                        <input name="data[comment][foreign_model]" class="js_comment_foreign_model required" type="hidden" />
                        <div class="input textarea required">
                            <label for="js_field_comment_content">Add a comment</label>
                            <textarea id="js_field_comment_content" name="data[comment][content]" class="js_comment_content required" maxlength="255"  placeholder="add a comment"></textarea>
                            <div class="js_comment_content_feedback message"></div>
                        </div>
                        <div class="metadata">
                            <span class="author username"><a>You</a></span>
                            <span class="modified">right now</span>
                        </div>
                        <div class="actions">
                            <a class="button comment-submit"><span>send</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-column">
                <div class="author profile picture"><a><img src="<%= user.Profile.Avatar.url.small %>" alt="<%= user.Profile.first_name %> <%= user.Profile.last_name %> avatar"></a></div>
            </div>
        </form>
	</li>
</ul>