<div class="js_settings_workspace">

    <div class="panel left">
        <div class="navigation first">
            <ul id="js_wk_settings_menu" class="clearfix">
            </ul>
        </div>
    </div>

    <div class="panel middle">
		<div id="js_wsp_settings_breadcrumb" class="breadcrumbs">
		</div>
		<div id="js_wk_settings_main">
		</div>
    </div>

</div>