/* autocomplete */
.autocomplete {
	position: relative;
}
.autocomplete .autocomplete-content {
	max-height: 12em;
	overflow: auto;
    position: absolute;
    background: #FFF;
    width:100%;
    min-width: 13em;
    margin-top: 1.99em;
    border: 1px solid #CCC;
    z-index: 998;
}
.autocomplete .autocomplete-content li {
	font-size: 1.25em;
	height: 1.25em;
	padding: 4px 4px 4px 4px;
}
