/*
 * Dialog
 */
.dialog-wrapper {
	position:absolute;
	width:100%;
	height:100%;
	z-index:999;
	background:rgba(255,255,255,0.9);
}
.dialog {
	position:relative;
	width:30em;
	border:1px solid #CCC;
	background:#F3F3F3;
	margin:auto;
	margin-top:1.5%;
	-moz-box-shadow: 0px 0px 10px 0px #ddd;
  -webkit-box-shadow: 0px 0px 10px 0px #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
}

/* header */
.dialog .dialog-header {
	padding:0.5em 1em 0 1em;
}
.dialog .dialog-header h2 {
	margin:.25em 0 .33em .25em;
	font-size:1.625em;
}
.dialog .dialog-close {
	float:right;
	right:1em;
	margin-top:-2.5em;
}

/* inputs */
.dialog .form-content {
	background:#FFF;
	font-size:.813em;
	padding:1em 1.5em 1em 2em;
}
.dialog label {
	clear:both;
}
.dialog input[type=text] {
	width:92%;
	float:left;
}
.dialog .short input {
	width:64%;
	float:left;
}
.dialog textarea {
	width:92%;
}
.dialog .actions.inline {
	float:right;
	margin-right:.5em;
	width:28%;
}
.dialog .actions.inline .button {
	float:left;
}
.dialog .error {
	display:block;
	width:100%;
	clear:both;
}
/* submit / cancel */
.submit-wrapper {
	border-top:1px solid #CCC;
	clear:both;
	width:100%;
	padding:1em 0;
}

.submit-wrapper .cancel,
.submit-wrapper input {
	float:right;
}
.submit-wrapper .cancel,
.submit-wrapper  input {
	margin:0 2.25em 0 0;
	padding-left:2em;
	padding-right:2em;
	min-width:3em;
}
.submit-wrapper .cancel,
.submit-wrapper .cancel:hover {
	font-size:16px;
	margin-right:1em;
	padding-bottom: .5em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top:.5em;
	line-height:19px;
	height:19px;
}


/* complexity and progress bar */
.dialog .progress {
	width:67.8%;
	border:1px solid #CCC;
	height:7px;
	display:block;
	clear:both;
	margin:.25em 0 .5em 0;
	float:left;
}
.dialog .progress-bar {
	height:5px;
	margin:1px;
	display:block;
	float:left;
}
.dialog .complexity-text {
	float:right;
	clear:right;
	width:28%;
	font-size:11px;
}
.dialog .password-complexity.very-bad .progress-bar {
	background:#000;
	width:10%;
}
.dialog .password-complexity.bad .progress-bar {
	background:#ef2929;
	width:20%;
}
.dialog .password-complexity.not-so-good .progress-bar {
	background:#f57900;
	width:40%;
}
.dialog .password-complexity.fair .progress-bar {
	background:#fce94f;
	width:60%;
}
.dialog .password-complexity.good .progress-bar {
	background:#73d216;
	width:80%;
}
.dialog .password-complexity.very-good .progress-bar {
	background:#4e9a06;
	width:100%;
}



/** permissions **/

.dialog .permissions{
    height: 21.5em;
    overflow-y: scroll;
}

.dialog .permissions .row{
    border: 1px solid #ddd;
    margin: 0 0 0.5em 0;
    width: 97%;
    -webkit-border-radius: .286em;
    -moz-border-radius: .286em;
    border-radius: .286em;
}
.dialog .permissions .row:hover{
    background-color: #FAFAFA;
}

.dialog .permissions .row .avatar,
.dialog .permissions .row .details{
    float: left;
}
.dialog .permissions .row .actions{
    float: right;
    padding: 1em 1em 0 0;
}

.dialog .permissions .row > .avatar{
    width: 3em;
    height: 3em;
    background-color: #eee;
}
.dialog .permissions .row > .avatar div.image-icon{
    padding: 0.17em;
}
.dialog .permissions .row > .avatar div.image-file img{
    width: 3em;
    height: 3em;
    -webkit-border-top-left-radius: .286em;
    -webkit-border-bottom-left-radius: .286em;
    -moz-border-radius-topleft: .286em;
    -moz-border-radius-bottomleft: .286em;
    border-top-left-radius: .286em;
    border-bottom-left-radius: .286em;
}

.dialog .permissions .row .details{
    margin: 0 0 0 1em;
}

.dialog .permissions .row .details span.name,
.dialog .permissions .row .details span.rights{
    display: block;
}
.dialog .permissions .row .details span.name{
    text-overflow: clip;
    word-wrap: break-word;
    overflow: hidden;
    height: 1.25em;
    font-weight: bold;
    font-size: 1.25em;
}

.dialog .perm-create-form {
    margin: 20px 0 0 0;
}

.dialog .perm-create-form .perm-aro {
	width:22em;
	padding-right:0.375em;
}

.dialog .perm-create-form input[type=text].loading{
    background: url(../../img/loading.gif) no-repeat 99% center;
}

.dialog .perm-create-form .perm-type {
	padding-top:2.075em;
	padding-right:0.375em;
}

.dialog .perm-create-form select.permission{
    -webkit-appearance: menulist;
    height:2.2em;
    width:5.775em;
    /* todo : make a generic fix for select fields. maybe chosen ? */
}

.dialog .perm-create-form .perm-actions {
    height: 2.2em;
	padding-top:2.075em;
}

