/*
	3.0.0 Generic Form Item

	Description  : labels and input are wrapped in a <div.text>
	Compatible   : FF2+, Chrome1+, IE?, Opera?, Safari?
	Since        : version 3.0

	:hover       - subtle hover highlight
	:active      - inset box shadow
	.disabled    - grey out to indicate it cannot be used
*/
input[type=text],
input[type=password],
input[type=search],
textarea, select {
	font-family:'Lato',Verdana, Geneva, Arial, Helvetica, sans-serif;
  color:#333;
	background:#FFF;
	border:1px solid #CCC;
	width:14em; /* 20 char (default input length) x .7em (average char length) */
	padding:.278em .5em .278em .5em; /* 5px 9px */
	display:inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  margin-bottom:.5em;
	-webkit-appearance:none;
}

/*
	3.2.1 TextField

	Description  : labels and input are wrapped in a div with the type of the class
	Compatible   : FF2+, Chrome1+,
	Since        : version 3.0

	:hover       - subtle hover highlight
	:active      - inset box shadow
	.disabled    - grey out to indicate it cannot be used
*/
label {
	font-weight:bold;
	font-size:1.125em; /* 18px */
  padding:.2em;
	display:block;
}
textarea,
.password input[type=password],
.search input[type=search],
.text input[type=text] {
	font-size:1.125em; /* 18px */
  border-top:1px solid #999;
}
textarea,
.password input[type=password]:hover,
.search input[type=search]:hover
.text input[type=text]:hover {
  border:1px solid #999;
}
textarea:focus,
.password input[type=password]:focus,
.search input[type=search]:focus,
.text input[type=text]:focus {
  -webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,.2);
  -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
	border:1px solid #2a9ceb;
}
.textarea.disabled textarea,
.textarea.disabled textarea:hover,
.textarea.disabled textarea:focus,
.input.disabled input[type=password],
.input.password.disabled input[type=password]:hover,
.input.password.disabled input[type=password]:focus,
.input.disabled input[type=search],
.input.search.disabled input[type=search]:hover,
.input.search.disabled input[type=search]:focus,
.input.disabled input[type=text],
.input.text.disabled input[type=text]:hover,
.input.text.disabled input[type=text]:focus {
	border:1px solid #CCC;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  cursor:normal;
  background:#F3F3F3;
}

/*
	3.2.2 Required Textfield

	Description  : Label and input are wrapped in <div.text.required>. Additional <span> with a star is included. Input also get the required class.
	Compatible   : FF2+, Chrome1+, IE?, Opera?, Safari?
	Since        : version 3.0

	.required    - additional red star
*/
.required label:after {
	content:" *";
	color:#D40000;
	font-weight:bold;
}

/*
	3.2.3 Large textarea Textfield

	Description  : textarea.textarea is pretty much the same than div.input.text.
	Compatible   : FF2+, Chrome1+, IE?, Opera?, Safari?
	Since        : version 3.0

	.required    - additional red star
	.lager       - make the box bigger
*/
textarea {
	height:3.6em; /* 4 char (default input length) x 1em (average char length) + .6em (padding) */
}
.textarea.large textarea {
	width:30em;
	height:7em;
}

/*
	3.3 Messages for validation error and example

	Description  : <div.text.error>, <div.text.success>, can be used to add status messages or example. 
								 Additional messages are wrapped in <.error-message>, <.success-messages>
	Compatible   : FF2+, Chrome1+, IE?, Opera?, Safari?
	Since        : version 3.0

	.success     - can be used for instant validation feedback
	.notice      - can be used for example messages prior validation
	.error       - error messages used for validation issues
*/
.message {
	font-size:.8em;
	font-weight:bold;
	border-bottom:1px solid;
  padding:.8em;
}
.input .message {
	padding:.3em;
	background-color:transparent;
  border:0;
}
.input.error label {
	color: #D40000;
}
.input .message.error {
	color: #D40000;
}
.input input.error,
.input textarea.error {
	border:1px solid #D40000;
}
.input .inline.message {
	display:inline-block;
}
/* do not show javascript needed warning if js is enabled 
	 this needs modernizer to work
*/
.js .message.nojs {
  display:none; 
}
/*
	3.4.1 Radio

	Description  : 
	Compatible   : ?
	Since        : version 3.0

.checkboxlist label,
.radiolist label {
	font-size:1.25em;
}*/
.checkboxlist .input.checkbox label,
.radiolist .input.radio label {
  font-weight:normal;
	display:inline;
}
/* 
  Hide the original radios and checkboxes (but still accessible)
  @credit: http://www.wufoo.com/2011/06/13/custom-radio-buttons-and-checkboxes/

  #cssrulefilter is a rule filter to block browsers that don't support that selector 
  http://lea.verou.me/2011/05/rule-filtering-based-on-specific-selectors-support/
*/
/*#cssrulefilter:checked,
input[type="checkbox"] {
  position:absolute;
  margin-left:0;
  margin-top:8px;
  opacity: 0;
}
#cssrulefilter:checked,
.input.checkbox input[type="checkbox"] + label {
  padding: 5px 0 4px 20px;
  background: url('../img/controls/checkbox.png') left center no-repeat;
}
#cssrulefilter:checked,
.input.checkbox input[type="checkbox"]:checked + label {
  background: url('../img/controls/checkbox-checked.png') left center no-repeat;
}
#cssrulefilter:checked,
.input.checkbox:hover input[type="checkbox"] + label {
  background: url('../img/controls/checkbox-active.png') left center no-repeat;
}
#cssrulefilter:checked,
.input.checkbox:hover input[type="checkbox"]:checked + label {
  background: url('../img/controls/checkbox-checked-active.png') left center no-repeat;
}*/
/*
	3.4.2 Select

	Description  : ?
	Compatible   : ?
	Since        : version 3.0
*/
select {
  padding-left:.2em;
}
select:hover {
  padding-left:.2em;
}
