/* headers */
.header.first {
	background-color:#333;
}
.header.second {
	background-color:#E4E4E4;
}
.panel.main {
  border-top:1px solid #DDD;
}

/* top navigation */
.header .navigation.primary ul {
}
.header .navigation.primary li {
	padding:.5em 1em 0 .25em;
	height:1.75em;
  float:left;
}
.header .navigation.primary li a {
  color:#FFF;
	text-decoration:none;
  font-weight:bold;
  display:inline-block;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.header .navigation.primary li a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
/* home button is special */
.header .navigation.primary .home {
  margin-left:1em;
	width:1.250em;
	height:1.250em;
	background:transparent url(../../img/logo_key_white.png) 0 0 no-repeat;
}
.header .navigation.primary .home:hover {
	background:transparent url(../../img/logo_key_red.png) 0 0 no-repeat;
}
.header .navigation.primary .home span {
	display:none;
}

/* logo */
.logo {
  margin:4% 0 0 .5em;
}
.logo img {
  max-width:100%;
	max-height:55px;
}

/* search */
.search {
  margin-top:1em;
}
.search legend,
.search label {
  display:none;
  width:10em;
}
.search input[type=search] {
  float:left;
  width:70%;
  margin-right:.25em;
}
.search .submit {
  float:left;
}
.search button {
 	height:2.2em;
  min-width:4em;
}
.search button .icon {
	font-size:1.1em;
}
.search button .icon:before {
	margin-top:-0.05em;
}

/* fallback placeholder */
.placeholder {
	color: #bbb;
}
/* webkit placeholder */
::-webkit-input-placeholder {
	color: #bbb;
}
/* moz placeholder */
:-moz-placeholder {
	color: #bbb;
}
/* remove webkit search input decoration and cancel button */
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/* profile user card */
.user.profile {
	max-width:18em;
	width:80%;
	float:right;
	border:1px solid #CCC;
  margin-top:.5em;
  background:#EEE;
	overflow: hidden;
}
.user.profile, /*look like a button */
.user.profile .more {
	border-left:1px dotted #CCC;
  background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fafafa, #ededed);
	background-image: -ms-linear-gradient(top, #fafafa, #ededed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
	background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
	background-image: -o-linear-gradient(top, #fafafa, #ededed);
	background-image: linear-gradient(top, #fafafa, #ededed);
}

/* fixed fluid fixed layout */
.user.profile .left-cell, 
.user.profile .right-cell, 
.user.profile .center-cell-wrapper {
	float:left;
	height:3.125em; /* 50px */
}
.user.profile .center-cell-wrapper {
	width: 100%;
}
.user.profile .center-cell {
	margin: 0 1.75em 0 3.125em;
	overflow: hidden;
}
.user.profile .left-cell {
	width:3.125em;
	margin-left: -100%;
}
.user.profile .right-cell {
	width: 1.6875em;
	margin-left: -1.75em;
}
/* remaing user card styling */
.user.profile .picture img {
	width:2.875em;    /* 46px */
	padding:0.1250em; /*  2px */
}
.user.profile .details{
  float:left;
  height:2.8125em;
  font-size:.9em;
  padding:.3125em .625em; /* 5/10px */
}
.user.profile .details .name {
  font-weight:bold;
  padding-top:.0625em;
}
.user.profile .details .name, 
.user.profile .details .email {
	width:100%;
	float:left;
	clear:both;
	text-overflow:clip;
	word-wrap:break-word;
	overflow: hidden;
	height:1.25em;
	float:left;
	display:inline-block;
}

.user.profile .more a {
	background:blue;
	display:block;
	background: transparent url('../../img/controls/tree-ctrl.png') center -9px no-repeat;
  margin-top:1em;
	opacity:.5;
	filter:alpha(opacity=50);
}
.user.profile .more a:hover {
	opacity:.9;
	filter:alpha(opacity=90);
}
.user.profile .more a span {
	visibility:hidden;
}
/* workspace title */
h1.workspace-title {
	color:#666;
  font-weight:normal;
  padding:.25em .5em 0 .5em;
  display:none;
}

/* actions */
.actions-wrapper {
  margin-top:.5em;
}
.actions button {
  font-size:.875em;
}
.actions li {
  display:inline;
}
.actions icons {
}
.actions.secondary {
	float:right;
}
