.page,
.header,
.panel,
.footer {
	position:absolute;
	overflow:auto;
	width:100%;
}
.header,
.footer {
	overflow:hidden;
}
.page {
	top:0;
	left:0;
	right:0;
	bottom:0;
}
/* headers */
.header.first {
	height:2.375em;
	background-color:#333;
}
.header.second {
	top:2.375em;
	height:4.5em;
	background-color:#E4E4E4;
}
.header.third {
	top:7em;
	height:3em;
}
/* main workspace panels */
.panel {
	height:100%;
}
.panel.main {
  border-top:1px solid #DDD;
	top:10em;
	bottom:2.0em;
  height:auto;
  padding:0;
}
.panel,
.col1, .col2, .col3 {
	position:absolute;
}
.col1,
.panel.left {
	width:14.5%;
}
.panel.middle {
	width:85%; 
	left:15%;
}
.col2 {
	width:50%; 
	left:15%;
}
.col3,
.panel.right {
	width:24%; 
	left:75%;
}
.panel.middle {
	overflow:hidden;
}

/* footer */
.footer {
	background:#FFF;
  border-top:1px solid #DDD;
	height:2em;;
	bottom:0;
}
