.notificator {
	/*font-size:13px;
	font-family:arial;*/
	/*position:absolute;*/
	/*width:24em;*/
	/*display:block;*/
	/*top:3.925em;*/
	/*margin-left:auto;
	margin-right:auto;*/
	/*line-height:2em;*/
	min-width:200px;
	padding:0 4px;
	height:20px;
	background-color:#F9EDBE;
	border:1px solid transparent;
	border-radius:2px;
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}/*
.notificator .notification_status { 
	font-weight: bold;
}
.notificator .js_notification_more_button { 
	font-weight:bold;
	color:#C0C0C0;
	font-size:11px;
}
.notificator .js_notification_details_container {
	position:absolute; 
	top:20px; 
	left:-1px; 
	width:100%; 
	z-index:2; 
}
.notificator .js_notification_details {
	display:none; 
	width:100%; 
	position:absolute; 
	background-color: #F9EDBE; 
	border:1px solid transparent; 
	border-radius:2px; 
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}*/
