/**
 * Sidebar
 */
.panel.aside {
	border:1px solid #DDD;
	background:#FFF;
	-moz-box-shadow: 0px 0px 10px 0px #ddd;
  -webkit-box-shadow: 0px 0px 10px 0px #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
}
.panel.aside .resource .dialog-close {
	position:absolute;
	right:1em;
	top:1em;
}

/* general resource information */
.panel.aside .resource {
	padding:.5em 1em 1em 1em;
}
.panel.aside .resource li,
.panel.aside .resource p {
	font-size:.875em;
}
.panel.aside .resource li .label {
	width:30%;
	color:#000;
	display:inline-block;
	margin-right:10%;
}
.panel.aside .resource li .value {
	width:50%;
	display:inline-block;
}
.panel.aside .resource h3 {
	margin-top:.5em;
}
.panel.aside .resource h4 {
	margin-bottom:.626em;
	padding-bottom:.313em;
	border-bottom:1px dotted #DDD;
}
.panel.aside .resource .section-action {
	float:right;
	margin-top:-2.2em;
	padding:0;
}

