.panel.aside {
	position:absolute;
	right:2em;
	width:18em;
	bottom:0;
	height:100%;
	border:1px solid #DDD;
	background:#FFF;
}

.resource-details {
	padding:1em;
}

.resource-details li,
.resource-details p {
	font-size:.875em;
}

.resource-details li .label {
	width:30%;
	color:#000;
	display:inline-block;
	margin-right:10%;
}

.resource-details li .value {
	width:50%;
	display:inline-block;
}

.resource-details h3 {
	margin-top:.5em;
}
.resource-details h4 {
	margin-bottom:.626em;
	padding-bottom:.313em;
	border-bottom:1px dotted #DDD;
}
.resource-details .edit-section {
	float:right;
	margin-top:-2.2em;
	padding:0;
}
