.main.panel table  {
	font-size:.95em;
  width:100%;
  table-layout:fixed;
}
.main.panel table a:link, 
.main.panel table a:visited {
	color:#000;
}
.main.panel table a:hover {
	color:#12C;
}

/* thead */
.main.panel table th,
.main.panel table td {
	padding:.4em 1em;
	border-bottom:1px solid #DDD;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* tbody */
.main.panel table tbody tr:hover {
	background:#fffcee;
}
.main.panel table th {
	padding:.4em 1em;
  font-weight:bold;
}
.main.panel table .s-cell {
	width:20px;
}
.main.panel table .m-cell {
	max-width:10em;
}
.main.panel table .l-cell {
	max-width:20em;
}

