/*
 * Typography
 */
body {
  font-family:'Lato', Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.42;
	color:#666;
}
h1 {
	font-size: 1.6em;
}
h2 {
  font-size:1.6em;
}
p {
  margin:.2em 0;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}
a:focus {
  border:1px dotted #777;
}

