<div class="mad_helper_component_boxDecorator">
	<div class="mad_helper_component_boxDecorator_header" style="background-color:#CC0000">header</div>
	<div class="mad_helper_component_boxDecorator_content"></div>
	<div class="mad_helper_component_boxDecorator_footer" style="background-color:#CC0000">footer</div>
</div>