/*
 * Page layout
 */
.page,
.panel,
.header {
	width:100%;
}
.page,
.panel {
	position:absolute;
	overflow:auto;
}
.header {
	overflow:hidden;
}
.page {
	top:0;
	left:0;
	right:0;
	bottom:0;
}
/* headers */
.header.first {
	/* height:2.375em; //already defined in header */
}
.header.second {
	top:2.375em;
	height:4.5em;
}
.header.third {
	top:7em;
	height:3em;
}

/* main workspace panels */
.panel {
	height:100%;
}
.panel.main {
	top:10em;
	bottom:2.0em;
	height:auto;
	padding:0;
}
.panel,
.col1, .col2, .col3, .col2_3 {
	position:absolute;
}
.col1,
.panel.left {
	width:14.5%;
}
.panel.middle {
	width:85%; 
	left:15%;
}
.col2 {
	width:50%; 
	left:15%;
}
.col3,
.panel.right {
	width:24%; 
	left:75%;
}
.col2_3 {
	width:84.5%; 
	left:15%;
}
.panel.middle {
	overflow:hidden;
}
.panel.aside {
	position:absolute;
	right:2em;
	width:20em;
	bottom:0;
	height:100%;
}
.panel.main {
	border-top:1px solid @border-default;
}

