<div class="dialog">
    <div class="dialog-header">
        <h2><%= label %></h2>
        <a href="#" class="dialog-close">
            <i class="fa fa-close"></i>
            <span class="visuallyhidden">close</span>
        </a>
    </div>
    <div class="js_dialog_content dialog-content">
    </div>
</div>
