<%
if (hasChildren) {
    cssClasses.push('close');
}
%>

<li id="<%= mappedItem.id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="node <%= cssClasses.join(' ') %>">
	<div class="row">

		<div class="main-cell-wrapper">
			<div class="main-cell">
				<a><span><%= mappedItem.label %></span></a>
			</div>
		</div>

<% if(hasChildren) { %>
		<div class="left-cell node-ctrl">
			<a><span>open/close</span></a>
		</div>
<% } %>

		<div class="right-cell more-ctrl">
			<a><span>more</span></a>
		</div>

	</div>
	
<% if(hasChildren) { %>
	<ul></ul>
<% } %>

</li>
