/*
 * Page layout
 */
.page {
	min-width:320px;
}
.page,
.panel,
.header {
	width:100%;
}
.page,
.panel {
	position:absolute;
	overflow:auto;
}
.header {
	overflow:hidden;
}
.page {
	top:0;
	left:0;
	right:0;
	bottom:0;
}
/* headers */
.header.first {
	/* height:2.375em; //already defined in header */
	height: 2.375em;
}
.header.second {
	top:2.375em;
	height:4.5em;
}
.header.third {
	top:7em;
	height:3em;
}

/* main workspace panel */
.panel {
	height:100%;
}
.panel.main {
	top:10em;
	bottom:2.0em;
	height:auto;
	padding:0;
}
/* its position depends on how many headers are there */
.header.second + .panel.main {
	top: 7em;
}
.header.third + .panel.main {
	top: 10em;
	border-top:1px solid @border-default;
}

/* collumns */
.panel,
.col1, .col2, .col3, .col2_3 {
	position:absolute;
}
.col1,
.panel.left {
	width:17.5%;
}
.panel.middle {
	width:82%;
	left:18%;
	overflow:hidden;
}
.col2 {
	width:50%;
	left:18%;
}
.col3,
.panel.right {
	width:24%;
	left:75%;
}
.col2_3 {
	width:81.5%;
	left:18%;
}

/* if the other grid is used
   don't center the grid inside main panel */
.panel.main .grid-responsive-12 {
	float:left;
	width:100%;
}

/* hide left column when there is no space */
@media all and (max-width: 980px) {
	.col1, .panel.left {
		display:none;
	}
	.panel.middle,
	.col2_3 {
		width:98%;
		left:1%;
	}
	.col2 {
		width:72%;
		left:1%;
	}

}
/* reduce font-size for small screen */
@media all and (max-width: 480px) {
	.page {
		font-size:.835em;
	}

}