<li id="<%= id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="<%= typeof cssClasses != 'undefined' ? cssClasses : '' %>">
	<div class="row">
		<div class="main-cell-wrapper">
			<div class="main-cell">
				<a href="#"><span><%= label %></span></a>
			</div>
		</div>
	</div>

<% if(hasChildren) { %>
	<ul>
	</ul>
<% } %>

</li>
