<%
var cssClasses = cssClasses || [];
%>

<li id="<%= id %>" class="<%= cssClasses.join(' ') %>" <%= (el) -> el.data( itemClass.fullName, item ) %>>
	<a href="#">
		<span class="label">
			<%= label %>
		</span>
	</a>
</li>
