<h4><%= __('Description') %></h4>

<% if (editable) { %>
<a href="#" class="edit_description_button section-action" id="js_edit_description_button">
	<i class="icon edit no-text"></i>
	<span>edit</span>
</a>
<% }%>

<p class="description_content"><%= resource.description %></p>
<!-- edit description form -->
<div id="js_rs_details_edit_description"></div>