<h4><%= __('Shared with') %></h4>
<% if (administrable) { %>
<a class="edit_permissions_button section-action" id="js_edit_permissions_button">
	<i class="fa fa-fw fa-edit"></i>
	<span class="visuallyhidden">edit</span>
</a>
<% }%>

<ul id="js_rs_details_permissions_list" class="shared-with"></ul>