<button id="js-devel-sidebar-toggle-button" class="devel-sidebar-toggle-button"></button>
<div id="js-devel-sidebar" class="devel-sidebar">
    <div class="devel-sidebar-menu-wrapper">
        <ul id="js-devel-sidebar-menu" class="devel-sidebar-menu">
        </ul>
    </div>
</div>
