<input id="js_permission_aco" type="hidden" />
<input id="js_permission_aro" type="hidden" />

<div id="js_field_perm_aro_label" class="message">
</div>

<div class="input text left perm-aro">
	<label for="js_permission_aro_autocomplete">Share with a person or a group</label>
	<div class="autocomplete">
		<input class="loading" maxlength="50" type="text" id="js_permission_aro_autocomplete" placeholder="start typing a person or a group"/>
		<ul id="js_permission_aro_autocomplete_list" class="autocomplete-content">
		</ul>
	</div>
</div>

<div class="select left perm-type">
	<select id="js_permission_type" class="permission error">
		<option value>choose</option>
		<option value="create">create</option>
		<option value="read">read</option>
		<option value="update">update</option>
		<option value="admin">admin</option>
	</select>
</div>

<div class="left perm-actions">
	<a href="#" id="js_permission_add_button" class="button">
		<i class="plus icon big no-text"></i>
		<span>add permission</span>
	</a>
</div>