<input type="hidden" name="passbolt.model.Resource.id" id="js_field_resource_id" class="form_field" />

<div class="input">
	<label>Share with a person or a group</label>
	<input name="passbolt.model.Permission.aco" id="js_field_aco" class="form_field" type="text">
	<select name="">
	 <option value="create">create</option>
	 <option value="create">read</option>
	 <option value="create">update</option>
	 <option value="create">delete</option>
	</select>
	<div id="js_field_description_feedback" class="message"/>
</div>

<div>
	<input type="submit" value="submit" />
</div>