/** Elements **/
.page.status {
	margin-bottom: 2.5em;
}
.page.status .grid {
	padding-bottom:2em;
}
.page.status #url-rewriting-warning {
	display:none;
}
.cake-error {
	display:none;
}
.page.status .message {
	padding: .75em 1em ;
	margin-bottom:.5em;
}