/* logo */
.header .logo a {
  background:transparent url(../img/logo.png) 5px 5px no-repeat;
	width:200px;
  height:45px;
  margin:.8em .5em .5em 1.2em;
  float:left;
}
.header h1 span{
  display:none;
}
