/* 
  shiny! shiny! 
  @thanks famfamfam.com
*/
.with_icon {
	background-position:center left;
	background-repeat: no-repeat;
}
.center_icon {
	background-position:center center;
}
.right_icon {
	background-position:center right;
}

.with_icon.success {
	background-image: transparent url(../img/icons/16x16/famfamfam/success.png);
}
.with_icon.error {
	background-image: transparent url(../img/icons/16x16/famfamfam/error.png);
}
.with_icon.warning {
	background-image: transparent url(../img/icons/16x16/famfamfam/warning.png);
}
.with_icon.info,
.with_icon.information,
.with_icon.notice {
	background-image: transparent url(../img/icons/16x16/famfamfam/information.png);
}
.with_icon.fav {
	background-image: transparent url(../img/icons/16x16/famfamfam/fav.png);
}
.with_icon.unfav {
	background-image: transparent url(../img/icons/16x16/famfamfam/unfav.png);
}
.with_icon.new {
	background-image: url('../img/icons/add.png'); 
}
.with_icon.edit { 
	background-image: url('../img/icons/pencil.png'); 
}
.with_icon.trash { 
	background-image: url('../img/icons/trash_can.png'); 
}
.with_icon.share { 
	background-image: url('../img/icons/share.png'); 
}
.with_icon.close { 
	background-image: url('../img/icons/cross.png'); 
}
.with_icon.copy_login {
	background-image: url('../img/icons/copy.png'); 
}
.with_icon.copy_secret{ 
	background-image: url('../img/icons/copy.png'); 
}
.with_icon.triangle_down { 
	background-image: url('../img/triangle_down.png'); 
}
.with_icon.triangle_up { 
	background-image: url('../img/triangle_up.png'); 
}
.with_icon.triangle_left { 
	background-image: url('../img/triangle_left.png'); 
}
.with_icon.triangle_right { 
	background-image: url('../img/triangle_right.png'); 
}

/* icon only */
.with_icon.no_text span {
  visibility:hidden;
}

/* forcing extra padding with_icon */
body .container .with_icon {
	padding-left:2.4em;
	background-position:.7em center;
}
