/**
 * Shiny! Shiny!
 * @credit Entypo pictograms awesomeness by Daniel Bruce — www.entypo.com
 * @licence CC BY 3.0 http://creativecommons.org/licenses/by-sa/3.0/
 */
@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/entypo.woff') format('woff'),
    url('../fonts/entypo.ttf') format('truetype'),
    url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('../fonts/entypo-social.woff') format('woff'),
    url('../fonts/entypo-social.ttf') format('truetype'),
    url('../fonts/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-inline,
.icon:before,
.icon.social:before {
  font-family: "entypo";
  font-size:2em;
	line-height:1;
  height:1em;
  font-weight: normal;
  font-style: normal;
  position:absolute;
	left:.7em;
	top:0;
  -webkit-font-smoothing: antialiased;
}
.icon + .text {
  margin-left:1em;
}

.icon-inline.social,
.icon.social:before {
  font-family: "entypo-social";
}

/* actions */
.icon.create:before {
  content: '\2295';
}
.icon.edit:before  {
  content: '\270E';
}
.icon.login:before  {
  content: '\E740';
}
.icon.logout:before  {
  content: '\E741';
}
.icon.search:before  {
  content: '\F50D';
}
.icon.share:before  {
  content: '\1F53F';
}
.icon.delete:before  {
  content: '\E729';
}
.icon.more:before  {
  content: '\E003';
}
/* social */
.icon.social.facebook:before {
  content: '\f30e';
}
.icon.social.twitter:before {
  content: '\f309';
}
.icon.social.github:before {
  content: '\f300';
}
.icon.social.pinterest:before {
  content: '\f312';
}
.icon.social.linkedin:before {
  content: '\f318';
}
.icon.social.instagram:before {
  content: '\f32D';
}
.icon.social.dropbox:before {
  content: '\f330';
}
.icon.social.evernote:before {
  content: '\f333';
}
.icon.social.skype:before {
  content: '\f339';
}
.icon.social.salesforce:before {
  content: '\f357';
}

