/* header */
.login .header .logo {
  background:transparent url(../img/login_logo.png) 0 10px no-repeat;
	width:260px;
  height:60px;
  margin-top:.5em;
}
.login .header h1 {
  display:none;
}
.header .logo {
  width:160px;
  height:60px;
}

/* form */
.login form {
  background:#EEE;
  padding:1em 1em 2.2em 1.8em;
  margin-top:1em;
}
.login form legend {
  display:none;
}
.login form fieldset {
  margin:.5em 0;
  border: 0px;
}
.login form .forgot {
  margin-left:.8em;
}

/* information */
.information {
  font-size:1.2em;
}
.information ul {
	list-style:circle;
  padding-left:1.5em;
}

/* footer */
.login .footer {
  margin-top:5em;
  text-align:center;
}
