
/* top navigation */
.header .navigation.top {
  background:#333;
  font-size:1em;
  float:left;
	width:100%;
}
.header .navigation.top li {
	padding:.5em 1em .1em .25em;
	height:1.75em;
  float:left;
}
.header .navigation.top li a {
  color:#FFF;
	text-decoration:none;
  font-weight:bold;
  display:inline-block;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.header .navigation.top .home {
	width:22px;
	height:24px;
  margin-left:1em;
	background:transparent url(../img/logo_key_white.png) 0 1px no-repeat;
}
.header .navigation.top li a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.header .navigation.top .home span {
	display:none;
}

