html, body { height: 100%; }
#container { height: 100%; }

/*button:disabled { background-color: #ffffff; }*/

/* App */
#js_app_controller {height:100%; }

/* Menu Bar */
#menubar { border-color:#000; background-color:#2D2D2D; }
ul#js_menu { margin: 0; padding: 0; }
#js_menu li { float:left; margin-left: 12px; list-style:none; font:13px/27px Arial,sans-serif; color:#BBB; font-weight:bold; }
#js_menu li.active { color:#FFF; }

/* User Bar */
#userbar { position:relative; background-color:#f3f3f3; height: 49px; line-height: 49px; margin-bottom: 9px; }
#userbar #logo { background: url(../img/logo_small.png) no-repeat 4px center; }
#userbar #logo span { font-size: 13px; color: #777; margin-left:38px; }

/* Search */
#userbar #search_container { position:relative; }
#userbar #search_field { margin-top:5px; width:100%; }
#userbar #search_button { float:right; margin-top:8px; height: 27px; line-height: 27px; background-color: #4D90FE; border: 1px solid #C0C0C0; border-radius: 3px; width: 75px; line-height: 27px; background-repeat: no-repeat; background-position: center center; }

/* Login button */
#userbar #login_button { margin-top:8px; height: 27px; line-height: 27px; background-color: #F3F3F3; border: 1px solid #C0C0C0; border-radius: 3px; width: 145px; line-height: 27px; background-repeat: no-repeat; background-position: 135px center; }
#userbar #login_button span { font-size: 13px; color: #777; margin-left:4px; }

/* Popup */
.js_popup { position:absolute; top:0; left:0; width:100%; height:100%; }
.js_popup_frog { position:absolute; top:0; left:0; width: 100%; height: 100%; background-color:#FFF; opacity: 0.55; }
.js_popup_content_wrapper { padding:30px 42px; position: absolute; box-shadow: 0 4px 16px rgba(0, 0, 0, .2); background: #FFF; background-clip: padding-box; border: 1px solid #ACACAC; outline: 0; }
.js_popup_header { margin-bottom: 16px; }
.js_popup_label { color: black; cursor: default; font-size: 16px; font-weight: normal; line-height: 24px; }
.js_popup_close { width:16px; height:16px; float:right; }

#js_notificator { font-size:13px; font-family: arial; position:absolute; top:39px; line-height:20px; min-width: 200px; padding:0 4px; height:20px; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); }
#js_notificator .notification_status { font-weight: bold; }
#js_notificator #js_notification_more_button { font-weight:bold; color:#C0C0C0; font-size:11px; }
#js_notificator #js_notification_details_container { position:absolute; top:20px; left:-1px; width:100%; z-index:2; }
#js_notificator #js_notification_details { display:none; width:100%; position:absolute; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);}

.js_workspace_actions_container ul,
	.js_workspace_view_actions_container ul { margin:0; padding:0; }
.js_workspace_actions_container li,
	.js_workspace_view_actions_container li { display:inline-block; list-style:none; font:13px/27px Arial,sans-serif; font-weight:bold; padding:0 4px; }

.js_loading { position:absolute; width:100%; height:100%; background: #FF0000 url(../img/loader.gif) no-repeat center center; }
.js_component { position:relative; }
.js_component_error { border:2px solid #FF0000; }
/*.js_hidden { position:absolute; left:-10000px; }*/

.contextual_menu { position:absolute; background:#FFF; z-index:2; border:1px dashed red; }

/* Icons */
.button_icon { width:18px; height:18px; }
.button_icon.js_state_disabled { display: none; }
.new_button_icon { background: url('../img/icons/add.png'); }
.edit_button_icon { background: url('../img/icons/pencil.png'); }
.trash_button_icon { background: url('../img/icons/trash_can.png'); }
.share_button_icon { background: url('../img/icons/share.png'); }
.more_button_icon { background: url('../img/more_button_icon.png'); }
.search_button_icon { background: url('../img/icons/zoom_white.png'); }
.close_button_icon { background: url('../img/icons/cross.png'); }
.copy_login_button_icon { background: url('../img/icons/copy.png'); }
.copy_secret_button_icon { background: url('../img/icons/copy.png'); }
.menu_button_dropdown_icon { background: url('../img/menu_button_dropdown_icon.png'); }

/* Menu button */
.user_menu_button_container { color: #969696; float:left; margin-right: 11px; height: 27px; line-height: 27px; background-color: #F3F3F3; border: 1px solid #C0C0C0; border-radius: 3px; }
.user_menu_button_container .button_icon { margin-top: 4px; opacity:0.55; }
.user_menu_button_container:hover .button_icon { opacity:1; }
.user_menu_button_container.js_state_disabled { display: none; }
.user_menu_button_more { width: 75px; line-height: 18px; background-repeat: no-repeat; background-position: 65px center; }
.user_menu_button_create { width: 85px; line-height: 18px; background-repeat: no-repeat; background-position: 65px center; }

/* Le brol de deco */
.workspace_label,
.workspace_actions_container,
.workspace_view_actions_container { padding-top: 11px; height:40px; border-bottom: 1px solid #C0C0C0; margin-bottom: 7px; }

/* Password workspace */
.workspace_label { text-transform: uppercase; font-weight: bold; }

/* Resource details area */
.passbolt_component_resource_details { background-color: #FFC; }

/* Grid */
.mad_grid { table-layout:fixed; width: 100%; border-collapse: collapse; }
.mad_grid th { text-align:left; }
.mad_grid td { line-height:23px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; border-top: 1px solid #C0C0C0; border-bottom: 1px solid #C0C0C0; }
.mad_grid tbody tr:hover { background-color: #FFFFD6; }
.mad_grid tbody tr.js_grid_selected_item { background-color: #FFC !important; }

/* Password browser component Grid */
#js_passbolt_password_browser .password_browser_category_label { color: #777; font-size: 11px; line-height:23px; }

#js_passbolt_password_browser .js_grid_column { }
#js_passbolt_password_browser .js_grid_column_name { width:30%; }
#js_passbolt_password_browser .js_grid_column_username { width:15%; }
#js_passbolt_password_browser .js_grid_column_uri { width:25%; }
#js_passbolt_password_browser .js_grid_column_modified {  width:20%; }
#js_passbolt_password_browser .js_grid_column_copyLogin { width:5%; }
#js_passbolt_password_browser .js_grid_column_copySecret { width:5%; }

#js_passbolt_password_browser.js_state_resourceSelected .js_grid_column_name { width:40%; }
#js_passbolt_password_browser.js_state_resourceSelected .js_grid_column_username { width:30%; }
#js_passbolt_password_browser.js_state_resourceSelected .js_grid_column_uri { width:30%; }

