button:disabled { background-color: #ffffff; }

#menubar { border-color:#000; background-color:#2D2D2D; }
#menubar li { display:inline-block; list-style:none; font:13px/27px Arial,sans-serif; color:#BBB; font-weight:bold; padding:0 9px; }
#menubar li.active { color:#FFF; }

#userbar { position:relative; background-color:#f3f3f3; }
#userbar #logo { margin:5px; }
#userbar #search-container { position:relative; }
#userbar #search-field input { margin-top:5px; width:100%; }
#userbar #search-button input { margin-top:5px; width:100%; }
#userbar #login-container { padding-top:5px; }

.js_popup { position:absolute; top:0; left:0; width:100%; height:100%; background: #FFF;}
.js_popup_content { border:1px solid #B0B0B0; }
.js_popup_close { width:16px; height:16px; float:right; }

/*#js_notif_controller { z-index:2; position:absolute; top:39px; left:20px; height:20px; width:400px; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); }*/
.notif_status { font-weight: bold; }
#js_notif_see_details { font-weight:bold; }
/*#notif_details_container { position:absolute; top:20px; left:0; width:400px; }*/
/*#js_notif_details { display:none; width:100%; position:absolute; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);}*/

.js_workspace_actions_container ul,
	.js_workspace_view_actions_container ul { margin:0; padding:0; }
.js_workspace_actions_container li,
	.js_workspace_view_actions_container li { display:inline-block; list-style:none; font:13px/27px Arial,sans-serif; font-weight:bold; padding:0 4px; }

.js_loading { position:absolute; width:100%; height:100%; background: #FF0000 url(/img/loader.gif) no-repeat center center; }
.js_component { position:relative; }
.js_component_error { border:2px solid #FF0000; }
/*.js_hidden { position:absolute; left:-10000px; }*/

.contextual_menu { position:absolute; background:#FFF; z-index:2; border:1px dashed red; }

/* Icons */
.button_icon { width:18px; height:18px; }
.button_icon.js_state_disabled { display: none; }
.new_button_icon { background: url('../img/icons/add.png'); }
.edit_button_icon { background: url('../img/icons/pencil.png'); }
.trash_button_icon { background: url('../img/icons/trash_can.png'); }
.share_button_icon { background: url('../img/icons/share.png'); }
.more_button_icon { background: url('../img/more_button_icon.png'); }
.copy_login_button_icon { background: url('../img/icons/copy.png'); }
.copy_secret_button_icon { background: url('../img/icons/copy.png'); }
.menu_button_dropdown_icon { background: url('../img/menu_button_dropdown_icon.png'); }

/* Menu button */
.user_menu_button_container {color: #969696; float:left; margin-right: 11px; height: 27px; line-height: 27px; background-color: #F3F3F3; border: 1px solid #C0C0C0; border-radius: 3px; }
.user_menu_button_container .button_icon { margin-top: 4px; opacity:0.55; }
.user_menu_button_container:hover .button_icon { opacity:1; }
.user_menu_button_container.js_state_disabled { display: none; }
.user_menu_button_more { width: 75px; line-height: 18px; background-repeat: no-repeat; background-position: 65px center; }
.user_menu_button_create { width: 85px; line-height: 18px; background-repeat: no-repeat; background-position: 65px center; }

/* Le brol de deco */
.workspace_label,
.workspace_actions_container,
.workspace_view_actions_container { padding-top: 11px; height:40px; border-bottom: 1px solid #C0C0C0; margin-bottom: 7px; }

/**/
.workspace_label { text-transform: uppercase; font-weight: bold; }

/* Password browser component Grid */
#js_passbolt_password_browser { table-layout:fixed; width: 100%; border-collapse: collapse; }
#js_passbolt_password_browser th { text-align:left; }
#js_passbolt_password_browser td { line-height:23px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; border-top: 1px solid #C0C0C0; border-bottom: 1px solid #C0C0C0; }
#js_passbolt_password_browser tbody tr:hover { background-color: #FFFFD6; }
#js_passbolt_password_browser .password_browser_category_label { color: #777; font-size: 11px; line-height:23px; }

#js_passbolt_password_browser .grid_column { }
#js_passbolt_password_browser .grid_column_name { width:30%; }
#js_passbolt_password_browser .grid_column_username { width:15%; }
#js_passbolt_password_browser .grid_column_uri { width:25%; }
#js_passbolt_password_browser .grid_column_modified {  width:20%; }
#js_passbolt_password_browser .grid_column_copyLogin { width:5%; }
#js_passbolt_password_browser .grid_column_copySecret { width:5%; }

#js_passbolt_password_browser.js_state_resourceSelected .grid_column_name { width:40%; }
#js_passbolt_password_browser.js_state_resourceSelected .grid_column_username { width:30%; }
#js_passbolt_password_browser.js_state_resourceSelected .grid_column_uri { width:30%; }
