button:disabled { background-color: #ffffff; }

#menubar { border-color:#000; background-color:#2D2D2D; }
#menubar li { display:inline-block; list-style:none; font:13px/27px Arial,sans-serif; color:#BBB; font-weight:bold; padding:0 9px; }
#menubar li.active { color:#FFF; }

#userbar { position:relative; background-color:#f3f3f3; }
#userbar #logo { margin:5px; }
#userbar #search-container { position:relative; }
#userbar #search-field input { margin-top:5px; width:100%; }
#userbar #search-button input { margin-top:5px; width:100%; }
#userbar #login-container { padding-top:5px; }

.js_popup { position:absolute; top:0; left:0; width:100%; height:100%; background: #FFF;}
.js_popup_content { border:1px solid #B0B0B0; }
.js_popup_close { width:16px; height:16px; float:right; }

/*#js_notif_controller { z-index:2; position:absolute; top:39px; left:20px; height:20px; width:400px; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); }*/
.notif_status { font-weight: bold; }
#js_notif_see_details { font-weight:bold; }
/*#notif_details_container { position:absolute; top:20px; left:0; width:400px; }*/
/*#js_notif_details { display:none; width:100%; position:absolute; background-color: #F9EDBE; border:1px solid transparent; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);}*/

.js_workspace_actions_container ul,
	.js_workspace_view_actions_container ul { margin:0; padding:0; }
.js_workspace_actions_container li,
	.js_workspace_view_actions_container li { display:inline-block; list-style:none; font:13px/27px Arial,sans-serif; font-weight:bold; padding:0 4px; }

.js_loading { position:absolute; width:100%; height:100%; background: #FF0000 url(/img/loader.gif) no-repeat center center; }
.js_component { position:relative; }
.js_component_error { border:2px solid #FF0000; }
/*.js_hidden { position:absolute; left:-10000px; }*/
