body{
	background-color:#eeeeee;
	font-family:verdana;
}

body h1{
	font-size:20px;
}

div.login_dialog{
	background-color:#fff;
	width:300px;
	margin:auto;
	-moz-border-radius:10px;
	-moz-box-shadow:0 0 6px #999999;
	padding:10px;
}

div.login_dialog span.overlay_wrapper {
  position: relative;
  top: 0;
  left: 0;
  background: white;
}

div.login_dialog span.overlay_wrapper input {
  position: relative;
  background: none;
  top: 0;
  z-index: 10;
}


div.login_dialog span.overlay_wrapper label.overlabel {
  position: absolute;
  top: -2px;
  left: 6px;
  z-index: 1;
  color: #999 !important;
  font-size: 18px;
}

*:first-child+html div.login_dialog span.overlay_wrapper label.overlabel {
  top: 6px;
  left: 5px;
}

div.login_dialog span.overlay_wrapper label.focus {
  color: #ccc !important;
}
div.login_dialog span.overlay_wrapper label.hidden {
  color: #fff !important;
}

div.login_dialog input{
	width:100%;
	padding:5px 0 5px 0;
	font-size:18px;	
	font-family:verdana;
	margin-bottom:10px;
}
