table {
	table-layout:fixed;
  width:100%;
	border-collapse: collapse;
}
table label.no_text {
  width:2em;
  vertical-align:bottom;
  height:13px;
}
table label.no_text span {
  display:none;
}
table th {
	font-weight:bold;
}
table tr {
  border-bottom:1px solid #CCC;
}
table tbody tr:hover {
	background-color: #FFFFD6;
}
table tbody tr.selected {
	background-color: #FFC !important;
}
table th.small,
table td.small {
  width:2em;
}
table td {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

