/* ==========================================================================
 *	Helper classes
 * ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden,
i.no-text + span {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
.clearfix {
  /*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
  zoom: 1;
  /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * Border radius
 */
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* position shortcuts */
.left {
  float: left;
}
.right {
  float: right;
}
/* ellipsis */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
/* palette */
/* borders */
/* font */
/* background */
/* shadows */
/* body */
body {
  color: #333333;
}
/* links */
a:link,
a:visited {
  color: #333333;
}
a:hover {
  color: #2894df;
}
a:active,
a:focus {
  outline: 0;
  color: #2894df;
  border: 0;
}
/* colors for messages */
.message.error {
  color: #d40101;
}
.message.success {
  color: #4F8A10;
}
.message.warning {
  color: #9F6000;
}
.message.info,
.message.information,
.message.notice {
  color: #00529B;
}
/* scrollbar */
/* todos */
.todo {
  background: #ffffcc !important;
}
/* headers */
.header {
  /* top navigation */
  /* logo */
  /* workspace title */
}
.header.first {
  background: #333333;
  height: 2.375em;
}
.header.second {
  background: #eeeeee;
}
.header .navigation.primary {
  /* home button is special */
}
.header .navigation.primary li {
  padding: .5em 1em 0 .25em;
  height: 1.75em;
  float: left;
}
.header .navigation.primary li.right {
  float: right;
  margin-right: 1em;
}
.header .navigation.primary li a {
  color: #dddddd;
  text-decoration: none;
  display: inline-block;
}
.header .navigation.primary li a:hover {
  color: #eeeeee;
}
.header .navigation.primary li a:active,
.header .navigation.primary li a:focus {
  color: #2894df;
}
.header .navigation.primary .home a {
  margin-top: .125em;
  margin-left: .5em;
  width: 1.250em;
  height: 1.250em;
  background: transparent url('../img/logo/icon20_white.png') 0 0 no-repeat;
}
.header .navigation.primary .home a:focus,
.header .navigation.primary .home:hover a {
  background: transparent url('../img/logo/icon20.png') 0 0 no-repeat;
}
.header .navigation.primary .home a span {
  display: none;
}
.header .logo {
  margin: 1.125em 0 0 1em;
  max-width: 80%;
}
.header .logo img {
  max-width: 150px;
}
.header h1.workspace-title {
  display: none;
}
