.tree ul {
	padding-left:.5em;
}
.tree .node.leaf {
  padding-left:10px;
}
.tree .node .control {
  width:10px;
  height:10px;
  display:block;
  float:left;
  margin-top:.3em;
}
.tree .node .control span {
	display:none;
}
.tree .node .control { 
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.tree .node .control:hover { 
	filter: alpha(opacity=100);
	opacity: 1;
}
.tree .node .control.open {
	background: transparent url(../img/controls/tree-closed.png) bottom left no-repeat;
}
.tree .node .control.close {
	background: transparent url(../img/controls/tree-opened.png) bottom left no-repeat;
}
.tree .node.closed .node {
	display:none;
}
