/* Password workspace state : normal */
#js_passbolt_password_browser .js_grid_column_multipleSelect { 
	width:36px; 
}
#js_passbolt_password_browser .js_grid_column_name { 
	width:300%; 
}
#js_passbolt_password_browser .js_grid_column_username { 
	width:125px; 
}
#js_passbolt_password_browser .js_grid_column_uri { 
	width:250px; 
}
#js_passbolt_password_browser .js_grid_column_modified {  
	width:125px; 
}
#js_passbolt_password_browser .js_grid_column_copyLogin { 
	width:36px; 
}
#js_passbolt_password_browser .js_grid_column_copySecret { 
	width:36px; 
}

/* Categories associated to the resources */
#js_passbolt_password_browser .password_browser_category_label { 
	color: #777; 
	font-size: 11px; 
	line-height:23px; 
}
/* table button tmp */
#js_passbolt_password_browser button {
	padding:0;
	width: 18px;
	height:18px;
}