/* Password workspace state : normal */
.content.right #js_passbolt_password_browser .js_grid_column_multipleSelect { 
	width:30px; 
}
.content.right #js_passbolt_password_browser .js_grid_column_name { 
	width:30%; 
}
.content.right #js_passbolt_password_browser .js_grid_column_username { 
	width:20%; 
}
.content.right #js_passbolt_password_browser .js_grid_column_uri { 
	width:20%; 
}
.content.right #js_passbolt_password_browser .js_grid_column_modified {  
	width:20%; 
}
.content.right #js_passbolt_password_browser .js_grid_column_copyLogin { 
	width:5%; 
}
.content.right #js_passbolt_password_browser .js_grid_column_copySecret { 
	width:5%; 
}
/* Password orkspace state : password selected */
.content.middle #js_passbolt_password_browser .js_grid_column_multipleSelect { 
	width:30px; 
}
.content.middle #js_passbolt_password_browser .js_grid_column_name { 
	width:40%; 
}
.content.middle #js_passbolt_password_browser .js_grid_column_username { 
	width:30%; 
}
.content.middle #js_passbolt_password_browser .js_grid_column_uri { 
	width:30%; 
}
/* Categories associated to the resources */
#js_passbolt_password_browser .password_browser_category_label { 
	color: #777; 
	font-size: 11px; 
	line-height:23px; 
}
/* table button tmp */
#js_passbolt_password_browser button {
	padding:0;
	width: 18px;
	height:18px;
}