<div class="form-content">
    <input type="hidden" id="js_field_parent_id" class="form_field" />

    <div class="input text required js_form_element_wrapper">
        <label for="js_field_name">Category name</label>
        <input type="text" id="js_field_name" class="required" />
        <span id="js_field_name_feedback" class="message"/>
    </div>

    <div>
        <input type="submit" value="submit" />
    </div>
</div>
