<input type="hidden" name="passbolt.model.Category.parent_id" id="js_field_parent_id" class="form_field" />

<div>
	<label>Category name</label>
	<input type="text" name="passbolt.model.Category.name" id="js_field_name" class="form_field" />
	<span id="js_field_name_feedback" class="form_feedback"/>
</div>

<div>
	<input type="submit" value="submit" />
</div>