<?xml version="1.0" encoding="utf-8"?>
<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    colors="true"
    stopOnFailure="false"
    syntaxCheck="false"
    backupGlobals="false">

    <filter>
        <blacklist>
            <directory suffix=".php">/var/lib/jenkins/jobs/Passbolt/workspace/lib/Cake</directory>
            <directory suffix=".php">/var/lib/jenkins/jobs/Passbolt/workspace/app/Test</directory>
            <exclude>
                <file>*.php</file>
            </exclude>
        </blacklist>
    </filter>

</phpunit>