<%
var cssClasses = [hasChildren ? 'root closed' : 'leaf'];
%>


<li id="<%= id %>" <%= (el) -> el.data( itemClass.fullName, item ) %> class="<%= cssClasses.join(' ') %> node">

	<div>

<% if(hasChildren) { %>
		<a href="#" class="control open"><span>open</span></a>
<% } %>

		<a href="#" class="label"><%= label %></a>

		<a href="#" class="control more"><span>more</span></a>

<% if(hasChildren) { %>
		<ul />
<% } %>

	</div>

</li>
