<div class="dialog">
    <div class="dialog-header">
        <h2><%= label %></h2>
        <a href="#" class="dialog-close"><i class="icon close no-text"></i><span>close</span></a>
    </div>
    <div class="js_dialog_content dialog-content">
    </div>
</div>
