<div class="tableview">
	<div class="breadcrumbs">
		<ul>
			<li><a href="#">home</a></li>
			<li><a href="#">category 1</a></li>
			<li><a href="#">another one</a></li>
		</ul>
	</div>
	<div class="tableview-header">
		<table>
			<thead>
				<tr>
<% for (var i in columnModel) { %>
					<th class="js_grid_column js_grid_column_<%= columnModel[i].name %> <%= columnModel[i].header.css.join(' ') %>">
						<%== columnModel[i].header.label %>
					</th>
<% } %>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tableview-content scroll">
		<table>
			<tbody>
			</tbody>
		</table>	
	</div>
</div>

