<div class="fog" />
<div class="js_popup_content_container">

	<div class="popup_header">
		<span class="js_popup_close with_icon icon close"></span>
		<h3><%= label %></h3>
	</div>

	<div class="js_popup_content" />

	<div class="popup_footer" />

</div>
