<div class="js_popup_frog" />
<div class="js_popup_content_wrapper grid_10 alpha omega">

	<div class="js_popup_header">
		<span class="js_popup_label"><%= label || '' %></span>
		<span class="js_popup_close button_icon close_button_icon"></span>
	</div>

	<div class="js_popup_content" />

	<div class="js_popup_footer" />

</div>
