<div class="fog" />
<div class="js_popup_content_container">

	<div class="popup_header">
		<span class="popup_title"><%= label %></span>
		<span class="js_popup_close with_icon close"></span>
	</div>

	<div class="js_popup_content" />

	<div class="popup_footer" />

</div>
