<div class="fog">
</div>
<div class="js_popup_box popup_box">

	<div class="popup_header">
		<span class="popup_close">
			<span class="js_popup_close icon close"></span>		
		</span>
		<h3><%= label %></h3>
	</div>

	<div class="popup_content js_popup_content" />

	<div class="popup_footer" />

</div>