<div class="grid_3 alpha">&nbsp;</div>

<div class="js_popup_wrapper grid_10 alpha omega">

	<div class="js_popup_header">
		<span class="js_popup_label"><%= label || '' %></span>
		<span class="js_popup_close">X</span>
	</div>

	<div class="js_popup_content" />

	<div class="js_popup_footer" />

</div>

<div class="grid_3 omega">&nbsp;</div>	
