<div class="js_workspace grid_16 alpha omega">

	<!-----------------------------------------------------------------------------
	Workspace header bar
	----------------------------------------------------------------------------->

	<div class="js_workspace_label grid_3 alpha">
		<%= label %>
	</div>
	
	<div class="js_workspace_actions_container grid_7"></div>
	
	<div class="js_workspace_view_actions_container grid_6 omega"></div>
	
	<div class="clear"></div>
	
	<!-----------------------------------------------------------------------------
	Main area
	----------------------------------------------------------------------------->
	
	<div class="js_workspace_sidebar_first grid_3 alpha">
	</div>
	
	<div class="js_workspace_main grid_7">
	</div>
	
	<div class="js_workspace_sidebar_second grid_6 omega">
	</div>
	
	<div class="clear"></div>

</div>
