<div class="dialog confirm">
    <div class="dialog-header">
        <h2><%= label %></h2>
        <a class="dialog-close">
            <i class="fa fa-close"></i>
            <span class="visuallyhidden">close</span>
        </a>
    </div>
    <div class="js_dialog_content dialog-content">
        <div class="form-content">
            <p><%= content %></p>
        </div>
    </div>
    <div class="submit-wrapper clearfix">
        <input type="submit" value="OK" class="button primary js-dialog-confirm" id="confirm-button">
        <a class="js-dialog-cancel cancel">cancel</a>
    </div>
</div>
