<form id="js_app_filter_form" class="search">
	<!-- <ul id="js_filter_tags" class="tags"></ul> -->
    <div class="input search required">
        <label for="js_app_filter_keywords"> Search</label>
        <input id="js_app_filter_keywords" class="required" maxlength="50" type="search" placeholder="search" />
    </div>
    <button value="search">
        <i class="icon search"></i>
        <span class="text visuallyhidden">search</span>
    </button>
</form>
<!-- <form id="js_filter_form">
    <ul id="js_filter_tags" class="tags"></ul>
    <fieldset>
        <legend>
            Please enter a search keyword
        </legend>
        <div class="input text required">
            <label for="js_filter_keywords">
                Search</label>
            <input id="js_filter_keywords" class="required" maxlength="50" type="text"/>
        </div>
    </fieldset>
    <span id="js_filter_reset" class="control reset">x</span>
    <div class="submit">
        <input type="submit" />
    </div>
</form> -->