You can add  favorites by clicking the 
Favorite button (<span class="favorite favoriteoff" style="background-position: center center">&nbsp;&nbsp;&nbsp;</span>) by page's title.  
<br/>After adding favorites, they will appear on the left.