<p>
    <strong>The API is not compatible with this plugin version.</strong><br>
    Your passbolt administrator need to update passbolt backend to use the latest API version.
</p>
<p>
    API: v<%= apiVersion %> /
    Plugin: v<%= pluginVersion %>
</p>
