<p>
    <strong>The plugin is not compatible with this backend.</strong><br>
    Some features will not work as expected.
    Please update the browser extension.
</p>
<p>
    API: v<%= apiVersion %> /
    Plugin: v<%= pluginVersion %>
</p>
