<div class="form-content">

	<div class="input text input-password-wrapper">
		<div class="input required">
			<label for="js_field_avatar"><%= __('Avatar') %></label>
			<input class="required" type="file" id="js_field_avatar" placeholder="select an image"/>
		</div>
	</div>

</div>

<div class="submit-wrapper clearfix">
    <input type="submit" class="button primary" value="<%= __('save')%>" />
    <a class="js-dialog-cancel cancel"><%= __('cancel')%></a>
</div>
