<input type="hidden" name="passbolt.model.Resource.Category.id" id="js_field_category_id" class="form_field" />

<div>
	<label>Resource name</label>
	<input type="text" name="passbolt.model.Resource.name" id="js_field_name" class="form_field" />
	<span id="js_field_name_feedback" class="form_feedback"/>
</div>

<div>
	<label>Resource username</label>
	<input type="text" name="passbolt.model.Resource.username" id="js_field_username" class="form_field" />
	<span id="js_field_username_feedback" class="form_feedback"/>
</div>

<div>
	<label>Resource uri</label>
	<input type="text" name="passbolt.model.Resource.uri" id="js_field_uri" class="form_field" />
	<span id="js_field_uri_feedback" class="form_feedback"/>
</div>

<div>
	<input type="submit" value="submit" />
</div>