<div class="resource-description-edit-wrapper">
	<input name="data[Resource][id]" class="resource_id required" maxlength="36" type="hidden" >
	<textarea name="data[Resource][description]" class="resource_description required" maxlength="150"  placeholder="enter description"></textarea>
	<div class="actions">
		<input type="submit" class="button resource-submit" value="save">
	</div>
</div>