<div class="form-content resource-description-edit-wrapper">
	<input name="data[Resource][id]" class="js_resource_id required" type="hidden" />

    <div class="input text required js_form_element_wrapper">
        <textarea name="data[Resource][description]" class="js_resource_description" maxlength="10000" placeholder="enter a description"></textarea>
		<div class="js_resource_description_feedback message">
		</div>
    </div>

	<div class="actions">
		<input type="submit" class="button resource-submit" value="save" />
	</div>
</div>
