/* actions */
.header.third .actions-wrapper {
	margin-top:.5em;

	.actions {
		.button {
			font-size: .875em;
			min-width: 4em;
		}
		li {
			display: inline;
		}
		&.secondary {
			float: right;
		}
		&.secondary .button {
			font-size: .875em;
			min-width: 1em;
		}
		a.button {
			float: left;
		}
	}
}
/* hide secondary actions if there is no space */
@media all and (max-width: 980px) {
	.header.third .actions-wrapper {
		.actions.secondary {
			display:none;
		}
	}
}
/* hide icons if there is no space */
@media all and (max-width: 980px) {
	.header.third .actions-wrapper {
		.actions i {
			display: none;
		}
		.actions i + span {
			margin-left: 0;
		}
		.actions .disabled {
			display: none;
		}
	}
}