/*
 * Footer
 */
.footer {
	padding:0.833em 1.5% 0 .5%;
	text-align:right;
	font-size:.75em; /* 12px */
	margin-top:0em;
	width:98%;
	height:2em;
	background:#FFF;
	border-top:1px solid @border-default;
	bottom:0;
	position:fixed;
	z-index:890;
}
