.plugin-check {
	padding:1em;

	&.firefox {
	  background:transparent url('@{images}/third_party/firefox_logo.png') 1.5em center no-repeat;
	  background-size: 150px auto;
	}
	&.chrome {
	  background:transparent url('@{images}/third_party/ChromeWebStore.png') 0.5em center no-repeat;
	  background-size: 180px auto;
	}
	&.gpg {
	  background:transparent url('@{images}/third_party/gnupg_logo_disabled.png') 2em center no-repeat;
	  background-size: 150px auto;
	}
	&.gpg.success {
	  background:@background-success url('@{images}/third_party/gnupg_logo.png') 2em center no-repeat;
	  background-size: 150px auto;
	}
	&.chrome.error {
	  background:@background-error url('@{images}/third_party/ChromeWebStore_disabled.png') 0.5em center no-repeat;
	  background-size: 180px auto;
	}
	&.success {
		background-color:@background-success;
	}
	&.error {
		background-color:@background-error;
	}
	&.warning {
		background-color:@background-warning;
	}
	&.notice {
		background-color:@background-notice;
	}
	.message {
		font-weight: normal;
		margin-left: 180px;
		padding:.5em 1em;
	}
}

/*
	no plugin = display error
	no config = display warning
*/
.plugin-check {
	display:none;
}
.no-passboltplugin {
	.plugin-check.error {
		display:block;
	}
}
.passboltplugin {
	&.no-passboltplugin-config {
		.plugin-check.warning {
			display:block;
		}
	}
	&.passboltplugin-config {
	  	.plugin-check.gpg.notice,
	  	.plugin-check.success {
			display:block;
		}
	}
}
