/* search */
.search {
	margin-top:1em;

	legend, label {
		display:none;
		width:10em;
	}
	input[type=search] {
		float:left;
		width:70%;
		margin-right:.25em;
		margin-bottom:0;
	  	padding:.313em .625em;
	}

	.submit {
		float:left;
		border:1px solid @border-3;
	}

	button {
		height:2.25em;
		min-width:4em;
		padding-top:.3em;
		.fa-search {
			font-size:1.25em;
		}
	}
}
/* remove webkit search input decoration and cancel button */
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/* rescale on small screen */
@media all and (max-width: 480px) {
	.search {
		input[type=search] {
			width: 60%;
		}
		button {
			height: 2.25em;
			font-size: 1.125em;
		}
	}
}