/*
 * Main Workspace - Table View
 */
.tableview {
	position: relative;
	font-size: .9375em; /* 15px */
	height: 100%;
}

/* header */
.tableview-header {
	height:2.125em;
	overflow-y:scroll;
  	padding-top:.125em;
}
.tableview-header table {
	width:100%;
}

/* main content */
.tableview-content {
	top:2.125em;
	bottom:45px;
	padding:0;
	position:absolute;
	width:100%;
	border-top:1px solid #DDD;
	overflow-y:scroll;
}
.tableview-content table {
	width:100%;
}

/* rows */
.tableview table {
  th, td {
	  text-align:left;
	  padding:.25em;
	  vertical-align: middle;
  }
  th {
	  font-weight:bold;
  }
  td div {
	.ellipsis();
  }
  .s-cell {
	  width:15px;
	  max-width: 15px;
  }
  .s2-cell {
	  width:40px;
	  max-width:40px;
  }
  .m-cell {
	  width:10em;
	  max-width:10em;
	  vertical-align: middle;
  }
  .l-cell {
	  width:12em;
	  max-width:12em;
  }
  tbody tr.selected,
  tbody tr:hover {
	  height:1em;
	  background:#fffacc;
  }
  .checkbox label {
	  display:none;
  }
  .checkbox input{
	  margin-top:0;
	  float:left;
  }
  th span,
  td span {
	  vertical-align:6%;
  }

  /* fav fix */
  th.cell_favorite,
  td.cell_favorite {
	width:20px;
	max-width: 20px;
	i:before {
	  vertical-align: -1px;
	}
  }
}
/* hide secondary actions if there is no space */
@media all and (max-width: 600px) {
	.tableview table tbody {
		td {
			display:block;
			&.s-cell, &.s2-cell, &.m-cell, &.l-cell {
				max-width:90%;
				width:90%;
				padding:.5em;
			}
			&.s-cell {
				display:none;
			}
		}
		tr:nth-child(odd) {
			background:@background-lightest;
		}
	}
	.tableview thead  {
		display:none;
	}
	.tableview-content {
		top:0;
		border:0;
		bottom:0px;
	}
}
