<div class="dropdown">
	<a>
		<span>more</span>
		<i class="fa fa-fw fa-caret-down"></i>
	</a>
	<ul class="dropdown-content">
		<li><a href="#">submenu1</a></li>
		<li><a href="#">submenu2</a></li>
	</ul>
</div>