<input id="js_perm_create_form_aro" type="hidden" />

<div class="input text autocomplete">
	<label for="js_perm_create_form_aro_auto_cplt">Share with people</label>
	<input maxlength="50" type="text" id="js_perm_create_form_aro_auto_cplt" placeholder="<% __('start typing a person name') %>" autocomplete="off"/>
</div>

<div class="select left perm-type">
	<select id="js_perm_create_form_type" class="permission">
	</select>
</div>

<div class="actions">
    <input id="js_perm_create_form_add_btn" type="submit" class="button primary" value="add"/>
</div>

<div class="input blank">
	<div id="js_perm_create_form_feedback" class="message"></div>
</div>
