.dialog .organize-tab .current-folder {
	background:@background-lightest;
	padding:.5em 1em;
}
.dialog .organize-tab .current-folder .folder-name {
	font-weight:bold;
}
.dialog .organize-tab .tree {
	height:20.125em;
	border:1px solid @border-default;
}
.dialog .organize-tab .selected {
	background:@background-lightest;
}
.dialog .organize-tab .selected {
	background:@background-lightest;
}

.folder-add .input.text {
	width:25em;
}

