<div class="demo">
  <h3 class="demo_header header reset">
    <span class="ui-icon ui-icon-triangle-1-s"/>
    <a href="javascript://">Demo</a>
  </h3>
  <div class="demo_content content">
    <iframe height="100%" frameborder=0></iframe>
  </div>
  <h3 class="html_header header reset">
    <span class="ui-icon ui-icon-triangle-1-e"/>
    <a href="javascript://">HTML</a>
  </h3>
  <div class="html_content content" style="display: none">
    HTML content
  </div>
  <h3 class="source_header header reset">
    <span class="ui-icon ui-icon-triangle-1-e"/>
    <a href="javascript://">Source</a>
  </h3>
  <div class="source_content content" style="display: none">
    Source content
  </div>
</div>

