<% var role = passbolt.model.User.getCurrent().Role.name; %>
<% var user = this.controller.options.data; %>
<div class="form-content">
    <div class="input text required clearfix js_form_element_wrapper">
        <label for="js_field_name"><%= __('Group name') %></label>
        <input name="passbolt.model.Group.name" class="required" maxlength="50" type="text" id="js_field_name" placeholder="group name"/>
        <div id="js_field_name_feedback" class="message">
        </div>
    </div>
</div>
