<form id="js_app_filter_form" class="search">
    <div class="input search required">
        <label for="js_app_filter_keywords"> Search</label>
        <input id="js_app_filter_keywords" class="required" maxlength="50" type="search" placeholder="search" />
    </div>
    <button value="search">
        <i class="fa fa-fw fa-search"></i>
        <span class="text visuallyhidden">search</span>
    </button>
</form>