<fieldset> 
	<legend>Please enter a search keyword</legend> 
	<ul id="js_filter_tags" class="tags">
		<li class="tag">tag 1</li>
		<li class="tag">tag 2</li>
		<li class="tag">tag 3</li>
	</ul>
	<div class="input text required">
		<label for="PasswordSearch">Search</label>
		<input id="js_search_field" class="required" maxlength="50" type="text">
	</div> 
	<div class="submit"><input type="submit" value="search"></div> 
</fieldset>
