<h4><%= __('Comments') %></h4>
<a class="js_add_comment section-action"><i class="fa fa-fw fa-plus-circle"></i><span class="visuallyhidden">create</span></a>
<div id="js_rs_details_comments_add_form"></div>
<ul id="js_rs_details_comments_list"></ul>