<h4><%= __('Comments') %></h4>
<a href="#" class="section-action"><i class="icon create no-text"></i><span>create</span></a>
<div id="js_rs_details_comments_add_form"></div>
<ul id="js_rs_details_comments_list"></ul>