<li class="open node root group-item" id="<%= mappedItem.id %>">
    <div class="row ">
        <div class="main-cell-wrapper">
            <div class="main-cell">
                <a href="#" title="<%= mappedItem.label %>'"><span><%= mappedItem.label %></span></a>
            </div>
        </div>
        <% if (mappedItem.canEdit == true) { %>
        <div class="right-cell more-ctrl">
            <a href="#"><span>more</span></a>
        </div>
        <% } %>
    </div>
</li>