<form id="js_group_edit_form"></form>
<div id="js_group_members" class="group_members">
    <div class="form-content">
        <div class="input required">
            <label for="js_field_group_permission">Group members</label>
        </div>
    </div>
    <div class="form-content permission-edit">
        <ul id="js_permissions_list" class="permissions scroll">

        </ul>
        <div class="message warning feedback hidden"></div>
    </div>
</div>
<div id="js_group_members_add" class="js_plugin_group_edit_wrapper permission-add">
    <div id="passbolt-group-edit-autocomplete-wrapper"></div>
</div>
<div class="submit-wrapper clearfix">
    <a class="button primary" id="js_group_save"><%= __('save')%></a>
    <a class="js-dialog-cancel cancel"><%= __('cancel')%></a>
</div>
