<ul id="js_wsp_users_groups_menu">
    <li class="open node root group-header">
        <div class="row title">
            <div class="main-cell-wrapper">
                <div class="main-cell">
                    <h3>All groups</h3>
                </div>
            </div>
            <!--<div class="right-cell more-ctrl">
                <a href="#"><span>more</span></a>
            </div>-->
        </div>
    </li>
</ul>
<ul id="js_wsp_users_groups_list"></ul>