<li>
    <a id="js_wk_menu_secretcopy_button" class="button">
        <i class="fa fa-fw fa-clipboard"></i>
        <span><%= __('copy') %></span>
    </a>
</li>
<li>
	<a id="js_wk_menu_edition_button" class="button">
		<i class="fa fa-fw fa-edit"></i>
		<span><%= __('edit') %></span>
	</a>
</li>
<li>
	<a id="js_wk_menu_sharing_button" class="button">
		<i class="fa fa-fw fa-share"></i>
		<span><%= __('share') %></span>
	</a>
</li>
<li>
	<div class="dropdown">
		<a id="js_wk_menu_more_button" class="button">
			<span><%= __('more') %></span>
			<i class="fa fa-fw fa-caret-down"></i>
		</a>
	</div>
</li>
