<ul id="js_wsp_pwd_password_categories_chooser">
    <li class="open node root group-header">
        <div class="row title no-hover">
            <div class="main-cell-wrapper">
                <div class="main-cell">
                    <h3>Filter by groups</h3>
                </div>
            </div>
        </div>
    </li>
</ul>
<ul id="js_wsp_password_categories_groups_list"></ul>