<div class="empty-content">
	<h1><%= __('Welcome to passbolt!') %></h1>
	<p><%= __('It does feel a bit empty here. Create your first password or') %><br>
		<%= __('wait for a team member to share one with you.') %></p>
</div>