<% var role = passbolt.model.User.getCurrent().Role.name; %>
<% if (role == 'admin') { %>
<li>
	<a id="js_user_wk_menu_creation_button" href="#" class="button">
		<i class="fa fa-fw fa-plus-circle"></i>
		<span><%= __('create') %></span>
	</a>
</li>
<li>
	<a id="js_user_wk_menu_edition_button" href="#" class="button">
		<i class="fa fa-fw fa-edit"></i>
		<span><%= __('edit') %></span>
	</a>
</li>
<li>
	<a id="js_user_wk_menu_deletion_button" href="#" class="button">
		<i class="fa fa-fw fa-trash"></i>
		<span><%= __('delete') %></span>
	</a>
</li>

<!-- #PASSBOLT-787<li>
	<div class="dropdown">
		<a id="js_user_wk_menu_more_button" href="#" class="button">
			<span><%= __('more') %></span>
			<i class="fa fa-fw fa-caret-down"></i>
		</a>
	</div>
</li>-->
<% } %>
