<div class="form-content permission-edit">
    <ul id="js_permissions_list" class="permissions scroll">
    </ul>
</div>

<div id="js_permissions_changes" class="warning message hidden">
    <span>You need to save to apply the changes.</span>
</div>

<% if (canAdmin) { %>
<div id="js_permissions_create_wrapper" class="permission-add js_plugin_share_wrapper">
    <input id="js_perm_create_form_aro" type="hidden" value="" />
    <div id="passbolt-password-share-autocomplete-wrapper">
    </div>
</div>
<% } %>

<div class="submit-wrapper clearfix">
    <input id="js_rs_share_save" type="submit" class="button primary" value="<%= __('save') %>" />
    <a class="js-dialog-cancel cancel">cancel</a>
</div>
