<div class="form-content permission-edit">
    <ul id="js_permissions_list" class="permissions scroll">
    </ul>
</div>

<div class="form-content permission-add">
    <form id="js_permission_add_form">
    </form>
</div>

<div class="submit-wrapper clearfix">
    <a href="#" class="js-dialog-cancel cancel">cancel</a>
</div>
