<div class="center-cell-wrapper">
    <div class="details center-cell">
        <span class="name"><%= user.Profile.first_name %> <%= user.Profile.last_name %></span>
        <span class="email"><%= user.username %></span>
    </div>
</div>
<div class="picture left-cell">
    <img src="<%= user['Profile'].avatarPath('small') %>" alt="your picture"/>
</div>
<div class="more right-cell">
    <a><span>more</span></a>
</div>
<ul class="dropdown-content right">
</ul>
