<div class="form-content">
    <p>
        <%= __('Your session has expired, you will be automatically redirected to the login page.'); %>
    </p>
</div>

<div class="submit-wrapper clearfix">
    <input id="confirm-button" type="submit" value="<%= __('OK') %>" class="button primary">
</div>
