<li>
	<a id="js_settings_wk_menu_edition_button" class="button section-profile">
		<i class="fa fa-fw fa-edit"></i>
		<span><%= __('edit') %></span>
	</a>
    <a id="js_settings_wk_menu_download_public_key" class="button section-keys">
        <i class="fa fa-fw fa-download"></i>
        <span><%= __('Public') %></span>
    </a>
    <a id="js_settings_wk_menu_download_private_key" class="button section-keys">
        <i class="fa fa-fw fa-download"></i>
        <span><%= __('Private') %></span>
    </a>
</li>
