<li>
	<a id="js_user_wk_menu_creation_button" href="#" class="button">
		<i class="icon create"></i>
		<span><%= __('create') %></span>
	</a>
</li>
<li>
	<a id="js_user_wk_menu_edition_button" href="#" class="button">
		<i class="icon edit"></i>
		<span><%= __('edit') %></span>
	</a>
</li>
<li>
	<a id="js_user_wk_menu_deletion_button" href="#" class="button">
		<i class="icon delete"></i>
		<span><%= __('delete') %></span>
	</a>
</li>

<li>
	<div class="dropdown">
		<a id="js_user_wk_menu_more_button" href="http://localhost/passbolt/demo/#" class="button">
			<span><%= __('more') %></span>
			<i class="icon after arrowdown"></i>
		</a>
		<ul class="dropdown-content">
			<li><a href="#">copy login to clipboard</a></li>
			<li><a href="#">copy password to clipboard</a></li>
			<li><a href="#">organize</a></li>
			<li><a href="#">review logs</a></li>
		</ul>
	</div>
</li>
