<li>
	<a id="js_wk_secondary_menu_view_sidebar_button" href="#" class="button toggle">
		<i class="icon layout eye big no-text"></i>
		<span><%= __('view sidebar') %></span>
	</a>
</li>
<li>
	<a id="js_wk_secondary_menu_grid_layout_button" href="#" class="button selected toggle duo todo">
		<i class="icon layout grid big no-text"></i>
		<span><%= __('grid layout') %></span>
	</a>
	<a id="js_wk_secondary_menu_box_layout_button" href="#" class="button toggle duo todo">
		<i class="icon layout box big no-text"></i>
		<span><%= __('box layout') %></span>
	</a>
</li>
<li>
	<div class="dropdown">
		<a  id="js_wk_secondary_menu_config_button" href="http://localhost/passbolt/demo/#" class="button todo">
			<i class="icon cog big no-text"></i>
			<span><%= __('config') %></span>
		</a>
		<ul class="dropdown-content right">
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-00d77ffa-7278-41fc-a4bb-1b63d7a10fee" checked>
					<label for="checkbox-00d77ffa-7278-41fc-a4bb-1b63d7a10fee">resource name</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-10d77ffa-7278-41fc-a4bb-1b63d7a10fee" checked>
					<label for="checkbox-10d77ffa-7278-41fc-a4bb-1b63d7a10fee">username</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-20d77ffa-7278-41fc-a4bb-1b63d7a10fee" checked>
					<label for="checkbox-20d77ffa-7278-41fc-a4bb-1b63d7a10fee">password</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-30d77ffa-7278-41fc-a4bb-1b63d7a10fde" checked>
					<label for="checkbox-30d77ffa-7278-41fc-a4bb-1b63d7a10fde">URL</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-40d77ffa-7278-41fc-a4bb-1b63d7a10fee">
					<label for="checkbox-40d77ffa-7278-41fc-a4bb-1b63d7a10fee">owner</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-50d77ffa-7278-41fc-a4bb-1b63d7a10fee">
					<label for="checkbox-50d77ffa-7278-41fc-a4bb-1b63d7a10fee">expire</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-60d77ffa-7278-41fc-a4bb-1b63d7a10fee">
					<label for="checkbox-60d77ffa-7278-41fc-a4bb-1b63d7a10fee">modified</label>
				</div>
			</li>
			<li>
				<div class="input checkbox">
					<input type="checkbox" name="select" id="checkbox-70d77ffa-7278-41fc-a4bb-1b63d7a10fed">
					<label for="checkbox-70d77ffa-7278-41fc-a4bb-1b63d7a10fed">created</label>
				</div>
			</li>
			<li><a href="#" class="top-separator">save this settings</a></li>
			<li><a href="#">reset to default setting</a></li>
		</ul>
	</div>
</li>
