/**
 * Adapted Reset CSS Reloaded
 * ------------------------------------
 */
#cakephp-global-navigation div,
#cakephp-global-navigation span, 
#cakephp-global-navigation a, 
#cakephp-global-navigation img,
#cakephp-global-navigation strong, 
#cakephp-global-navigation ol,
#cakephp-global-navigation ul, 
#cakephp-global-navigation li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit; 
	font-size: 100%;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
	color: #000000;
}
/* remember to define focus styles! */
#cakephp-global-navigation :focus {
	outline: 0;
}
#cakephp-global-navigation ol,
#cakephp-global-navigation ul {
	list-style: none;
}

/**
 * Cake Software Foundation Top nav
 * ------------------------------------
 */
#cakephp-global-navigation {
	border-bottom: 1px solid #000;
	position: relative;
	z-index: 39;
	background: #3B3B3B;
	background: -moz-linear-gradient(top, #3B3B3B 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3B3B3B), color-stop(100%,#2b2b2b));
}
#cakephp-global-navigation ul {
	height: 29px;
	margin: 0 auto;
	max-width: 980px;
	display: block;
}
#cakephp-global-navigation li {
	list-style: none;
	float: left;
	height: 17px;
	font-size: 17px;
	line-height: 23px;
	position: relative;
	width: 120px;
	padding: 3px 0;
	list-style-image: none;
}
#cakephp-global-navigation li:hover {
	background: #303030;
}
#cakephp-global-navigation li.main {
	background: transparent url('./main-link.png') 0px 4px no-repeat;
	margin-left: 0;
	margin-right: 40px;
	padding-left: 27px;
	width: 60px;
}
#cakephp-global-navigation li,
#cakephp-global-navigation a,
#cakephp-global-navigation span {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	display: block;
	height: 23px;
	cursor: hand;
	cursor: pointer;
}
#cakephp-global-navigation li a,
#cakephp-global-navigation li span {
	padding: 0 10px;
}
#cakephp-global-navigation li.main a {
	padding: 0;
	font-size: 14px;
}


/** Second level 
 * --------------
 */
#cakephp-global-navigation .second-level {
	display: none;
	width: 200px;
	margin: 0;
	padding: 0;
	height: auto;
	border: 1px solid #000;
	border-top: 0;
	position: relative;
	top: 3px;
	left: -1px;
	list-style: none;
	background: #1b404a;
	background: -webkit-gradient(linear, left top, left bottom, from(#1b404a), to(#245b6a));
	background: -moz-linear-gradient(top, #1b404a, #245b6a);
	border-radius: 0 0 5px 5px;
}
#cakephp-global-navigation .second-level li {
	display: block;
	float: none;
	width: 196px;
	padding: 2px;
	margin: 0;
}
/* display on hover */
#cakephp-global-navigation li:hover .second-level {
	display: block;
	margin: 0;
}
#cakephp-global-navigation .cake-version {
	height: 45px;
}
#cakephp-global-navigation .second-level li:hover {
	background: #2f6f80;
}
#cakephp-global-navigation .second-level li:last-child {
	border-radius: 0 0 5px 5px;
}
#cakephp-global-navigation .second-level a {
	margin: 0 0px;
}
#cakephp-global-navigation .second-level a:hover {
	color: #BD8A5D;
}


/**
 * Third level navigation
 * ------------------------------------
 */
#cakephp-global-navigation .third-level {
	border: 0;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#cakephp-global-navigation .cake-version ul {
	display: block;
	padding-left: 14px;
}
#cakephp-global-navigation .cake-version li {
	display: inline;
	float: left;
	width: auto;
	border-right: none;
	background: none;
}
#cakephp-global-navigation .cake-version a {
	padding: 0 3px;
	background-color: transparent;
	display: inline;
}
#cakephp-global-navigation li:hover li {
	background-color: inherit;
}
#cakephp-global-navigation .cake-version ul,
#cakephp-global-navigation .cake-version li,
#cakephp-global-navigation .cake-version a {
	line-height: 15px;
	height: 15px;
}
#cakephp-global-navigation .cake-version a:hover {
	color: #BD8A5D;
	text-decoration: underline;
}
