/*
 * default.css
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2011 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */
 @import 'foundation.css';
 @import 'csf-navbar.css';
 @import 'cake.css';

html {
	overflow-y: scroll;
}
html,
body {
	height: 100%;
}
#container {
	min-height: 100%;
	height: auto;
	margin-bottom: -80px;
}


/* -- top navbars -- */
.masthead img {
	margin-top: 6px;
}
.header-backing {
	height: 300px;
}
.search-header {
	color: #fff;
}
.breadcrumb-header {
	background: #BD8A5D;
	color: #fff;
	margin-bottom: 18px;
	font-family: MuseoSlab500, Helvetica, Arial;
}
.breadcrumb-header .row {
	position: relative;
}
.breadcrumb-header a {
	color: #fff;
}
.breadcrumb-header .versions {
	background: #417282;
	display: block;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px;
}
.versions a {
	padding: 0 4px;
}
.root-link,
.breadcrumb {
	line-height: 25px;
	margin: 5px 0;
}
.root-link a,
.breadcrumb li {
	font-size: 18px;
	margin: 0;
	vertical-align: middle;
}

/* Searchbox */
#searchform {
	margin: 24px 0;
	clear: right;
}
.search-input {
	width: 80%;
	font-size: 16px;
	padding: 5px 5px;
	margin:  0 3% 0 0;
	height: 32px;
	border: none;
	-webkit-appearance: textfield;
	vertical-align: top;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.standalone-search .search-input {
	border: 1px solid #ccc;
}
.search-submit {
	margin: 0;
	padding: 6px 2px;
	font-size: 16px;
	width: 90px;
	vertical-align: top;
}
/* Search results */
#inline-search-results {
	position: absolute;
	background: #fff;
	z-index: 10;

	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #333;
}
#inline-search-results ul {
	list-style: none;
	margin: 0;
}
#inline-search-results li {
	border-bottom: 1px solid #eee;
	margin: 0;
}
#inline-search-results a {
	display: block;
	padding: 5px 10px;
}
#inline-search-results a:hover {
	background: #eee;
}

/* tablet and smaller */
@media only screen and (max-width: 767px) {
	.masthead .button { 
		display: inline !important;
	}

	.root-link {
		display: none;
	}
	.versions.inline {
		display: none;
	}
	.masthead img {
		margin-left: 10%;
		margin-top: 9px;
	}
	
	#searchform {
		margin: 10px 10px 0;
		clear: none;
	}
	.search-input {
		width: 96%;
	}
	#tablet-nav,
	.search-submit {
		padding: 9px 2.5%;
		float: left;
		clear: none;
		width: 43.5%;
		margin: 9px 0;
	}
	#tablet-nav {
		font-size: 14px;
		line-height: 16px;
		height: 16px;
	}
	.search-submit {
		font-size: 14px;
		height: 36px;
		margin-right: 2.5%;
	}
	
	/* modal navigation */
	#nav-modal ul {
		list-style: none;
	}
	#nav-modal > ul {
		margin-left:  0;
	}
}



/* -- Headings -- */
.headerlink {
	display: none;
}
.staticattr:hover .headerlink,
.attr:hover .headerlink,
.staticmethod:hover .headerlink,
.method:hover .headerlink,
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
	display: inline;
	margin: 0 0 0 5px;
	font-size: 80%;
	padding: 0;
	line-height: normal;
}


/* -- body styles -- */
.body {
	position: relative;
}
td, th, p, li {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 140%
}
@media handheld, only screen and (max-width: 767px) {
	td, th, p, li {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/* inline code */
tt {
	font-family: "Bitstream Vera Sans", "Consolas", "Monaco", monospace;
	font-size: 90%;
	line-height: normal;
	background: rgba(100, 100, 100, 0.10);
    padding: 0px 1px;
    color: #003D4C;
}
dl tt {
    border-bottom: none;
}



/* Inline list styles */
.inline li {
	display: inline;
}
.inline li:after {
    content: ' | ';
    display: inline;
}
.inline li:last-child:after {
    content: '';
}
.breadcrumb li:after {
	content: ' > ';
}



/* Admonitions */
.admonition {
    margin: 20px 0;
    padding: 9px 9px 9px 45px;
    position: relative;
    border-left: 4px solid #bb8c60;
}

.admonition p {
    margin-bottom: 5px;
}
.admonition pre {
    margin-bottom: 5px;
}
.admonition ul, .admonition ol {
    margin-bottom: 5px;
}
.seealso,
.tip {
	border-color: #45717a;
    background: #e9eef1;
}
.note {
    background-color: #fffef2;
}
.topic {
    background-color: #eee;
}
.warning {
	border-color: #C92434;
    background-color: #fbeded;
}
.deprecated,
.versionadded,
.versionchanged {
	margin: 20px 0;
    padding: 9px 9px 9px 45px;
    position: relative;
    border-left: 4px solid #bb8c60;
	border-color: #afad56;
	background: #f0efdd;
}
.deprecated:before,
.versionadded:before,
.versionchanged:before {
	content:  '';
	width: 30px;
	height: 25px;
	background: url(icons.png) 0 -57px no-repeat;
	display: block;
	position: absolute;
	top: 5px;
	left: 9px
}
.versionmodified {
	font-style: italic;
}

/* Icons on admonition blocks */
.admonition .admonition-title {
	background: url(icons.png) top left no-repeat;
	height: 0;
	width: 32px;
	padding-top: 25px;
	overflow: hidden;
	position: absolute;
	top: 9px;
	left: 9px;
}
.tip .admonition-title {
	background-position: 0 -85px;
}
.warning .admonition-title {
	background-position: 0 -25px;
	padding-top: 30px;
	top: 9px;
}

/* Tables */
.docutils td,
.docutils th {
	font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/* type flags */
dl.exception em.property,
dl.interface em.property,
dl.attr em.property,
dl.class em.property,
dl.method em.property,
dl.staticmethod em.property,
dl.const em.property {
    background: #efefef;
    color: #444;
    font-size: 90%;
    font-style: normal;
    padding: 2px 0px 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px 1px #fff;
    margin-right: 5px;
}

/* method and property definitions */
.role,
.directive,
.class,
.const,
.attr,
.function,
.method,
.staticmethod {
	margin-bottom: 28px;
}
.role dt,
.directive dt,
.class dt,
.const dt,
.attr dt,
.function dt,
.method dt,
.staticmethod dt {
	font-size: 14px;
	margin-bottom: 5px;
}
dt tt {
	background: none;
}
.role .descname,
.directive .descname,
.class .descname,
.attr .descname,
.const .descname,
.directive .descclassname,
.role .descclassname,
.attr .descclassname,
.function .descname,
.method .descname,
.method .descclassname,
.staticmethod .descname,
.staticmethod .descclassname {
	font-family: "Bitstream Vera Sans", "Consolas", "Monaco", monospace;
	font-size: 16px;
}
.role .descname,
.directive .descname,
.class .descname,
.attr .descname,
.const .descname,
.function .descname,
.method .descname,
.staticmethod .descname {
	font-weight: bold;
	color: #C92434;
}
.role dd,
.directive dd,
.attr dd,
.const dd,
.function dd,
.method dd,
.staticmethod dd {
	margin-left: 20px;
}

/* Parameter lists */
.field-list th,
.field-list {
	border: 0;
	padding-top: 0;
}
.field-list .field-name {
	font-size: 15px;
	font-size: 1.5rem;
	font-family: MuseoSlab500, Helvetica, Arial;
	color: #BD8A5D;
}
.field-list ul {
	list-style: none;
	margin-left: 0;
}
.field-list
.field-list strong {
	font-size: 110%;
	font-family: "Bitstream Vera Sans", "Consolas", "Monaco", monospace;
	color: #003D4C;
	font-weight: normal;
}
.field-list .field-body {
	font-size: 14px;
}

/* -- glossary -- */
.glossary dt {
	font-size: 16px;
	font-family: MuseoSlab500, Helvetica, Arial;
	color: #BD8A5D;
}
.glossary dd {
	margin-bottom: 18px;
}

/* -- generated index -- */
.genindex-jumpbox {
	margin-bottom: 18px;
}
.genindextable {
	border: 0;
}
.genindextable dt {
	line-height: 20px;
	margin-bottom: 5px;
}
.genindextable dd {
	margin-left: 24px;
}
.genindextable a {
	font-size: 14px;
}

/* -- page contents -- */
#page-contents-button {
	float: right;
	padding: 7px 15px;
}
.body .panel {
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	display: none;
	box-sizing: border-box;
}
.panel.flyout > ul {
	list-style: none;
	margin: 15px;
}
.panel.flyout li a {
	font-size: 16px;
	font-family: MuseoSlab500, Helvetica, Arial;
	color: #C92434;
}
.panel.flyout li li a {
	color: #417282;
}

/* -- Sidebar -- */
#sidebar-navigation > ul {
	margin-left: 0;
}
.sidebar li {
	list-style: none;
	font-size: 16px;
	font-family: MuseoSlab500, Helvetica, Arial;
}
.sidebar .current {
	color: #C92434;
}

/* -- pagination -- */
#search-pagination a {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ccc;
	margin: 0 4px 0 0;
}
#search-pagination a.active {
	color: #C92434;
}
#search-pagination a.active:hover {
	text-decoration: none;
}

/* -- Footer -- */
.footer-push {
	clear: both;
	height: 80px;
}
.footer {
	min-height: 60px;
}
.related-pages {
	float: right;
}

.footer .contribute {
	margin-bottom: 10px;
}
.contribute strong {
	color: #C92434;
}
.contribute,
.languages,
.related-pages a {
	font-size: 14px;
	font-family: MuseoSlab500, Helvetica, Arial;	
}
.copyright {
	font-size: 12px;
	color: #003D4C;
}

/*  Languages  */
.languages ul {
    float: right;
    margin-right: 10px
}
.languages li,
.languages a {
	color: #417282;
}
.languages .disabled {
    opacity: 0.5;
}
.languages .active {
    text-decoration: underline;
}

/* tablet and smaller */
@media only screen and (max-width: 767px) {
	.footer .columns,
	.row .document {
		margin-left: 5px;
		margin-right: 5px;
	}

	.related-pages,
	.languages,
	.copyright,
	.contribute {
		text-align: center;
	}
	.languages ul {
		float: none;
	}
	.row .related-pages {
		float: none;
	}
}
