<div class="template">
<% items.each(function(item){ %>
	<div class="loop">
    <% if( item.attr('children') ) { %>
        <div class="node">
            <%== can.view.render(can.test.path('view/ejs/test/recursive.ejs'), {items:item.attr('children')}) %>
        </div>
	<%} else {%>
		<div class="leaf">L</div>
	<%}%>
    </div>
<%}) %>
</div>
