<div>
    <div class="lb-box-header" style="background-color:#CC0000">header</div>
    <div class="lb-box-content"></div>
    <div class="lb-box-footer" style="background-color:#CC0000">footer</div>
</div>
