<div>
    <div class="lb-decorator-box-header" style="background-color:#CC0000">header</div>
    <div class="lb-decorator-box-content"></div>
    <div class="lb-decorator-box-footer" style="background-color:#CC0000">footer</div>
</div>
