/* password share tab */
.dialog .share-tab {
	.form-content {
		padding:1em;
	}

	.permission-edit {
		padding:0em;
	}

	/* list of existing permissions settings */
	.permissions.scroll {
		height:19em;
		margin:0;
	}

	.row {
		.clearfix();
		font-size:.813em;
		padding:.825em .5em .5em 1em;
		border-bottom:1px dotted @border-default;

		&:last-child {
			border:0;
		}

		/* user summary */
		.avatar img {
			width:36px;
			height:36px;
			float:left;
		}
		.user,
		.group {
			width:52%;
			float:left;
			padding-left:1em;
			padding-right:1em;
		}
		.name {
			display:block;
			.ellipsis();
		}
		.details a {
			color:@font-light;
			.ellipsis();
			display:block;
		}
		.rights {
			float:left;
			margin-top:.5em;
			width:25%;
			select {
				width:95%;
				font-size: 1em;
			}
		}
		/* row actions */
		.actions {
			float: right;
			margin-top: 1em;
			a {
				font-size: 1.125em;
				padding: .25em .5em .2em .5em;
				border: 1px solid transparent;
			}
			a:hover {
				border: 1px solid @border-default;
			}
		}
		&.inherited-permission .inherited-actions {
			display:none;
			float:right;
		}

		&.inherited-permission:hover .inherited-actions {
			display:block;
		}

		&.inherited-permission .inherited-actions a {
			color: @font-light;
		}
	}

	/* new/updated permissions */
	.row.permission-updated {
		.avatar img {
			border:1px solid #ff4500;
		}
	}

	/* message */
	.message {
		font-size:0.813em;
		padding-left:2em;
	}

	.form-content.permission-add {
		.clearfix();

		#passbolt-password-share-autocomplete-wrapper {
			position:relative;
			width:100%;
		}
	}
}

/* hide icons if there is no space */
@media all and (max-width: 480px) {
	.dialog .share-tab {
		.permissions.scroll {
			height:auto;
			margin:0;
		}
		.row .user,
		.row .group {
			width:45%;
		}
	}
}
