<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <filter>
        <whitelist>
            <directory suffix=".php">../Console</directory>
            <directory suffix=".php">../Controller</directory>
            <directory suffix=".php">../Model</directory>
            <directory suffix=".php">../View</directory>
            <!--<exclude>
                <directory suffix=".php">../Console</directory>
            </exclude>-->
        </whitelist>
    </filter>
</phpunit>
