<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <filter>
        <whitelist>
            <directory suffix=".php">../Console</directory>
            <directory suffix=".php">../Controller</directory>
            <directory suffix=".php">../Model</directory>
            <directory suffix=".php">../View</directory>
            <exclude>
                <file>../Console/cake.php</file>
                <file>../Console/build_po.php</file>
                <file>../Console/Command/SchemaShell.php</file>
                <file>../Console/Command/Task/FixtureTask.php</file>
                <file>../Model/Behavior/TrackableBehavior.php</file>
                <!--<directory suffix=".php">../tests</directory>-->
            </exclude>
        </whitelist>
    </filter>
</phpunit>
