<div class="form-content permission-edit">
    <ul id="js_permissions_list" class="permissions scroll">
    </ul>
</div>

<div id="js_permissions_changes" class="warning message hidden">
    <span>You need to save to apply the changes.</span>
</div>

<div class="form-content permission-add">
    <form id="js_permission_add_form">
    </form>
</div>

<div class="submit-wrapper clearfix">
    <input id="js_rs_share_save" type="submit" class="button primary" value="<%= __('save') %>" />
    <a href="#" class="js-dialog-cancel cancel">cancel</a>
</div>
