<div class="form-content tags-edit-wrapper">

    <input name="data[ItemTag][foreign_id]" class="js_tag_foreign_id required" type="hidden" />
    <input name="data[ItemTag][foreign_model]" class="js_tag_foreign_model required" type="hidden" />

    <div class="input text required js_form_element_wrapper">
        <textarea name="data[ItemTag][tag_list]" class="js_tag_list required" maxlength="150"  placeholder="enter your tags here, separated by a comma"></textarea>
		<div class="js_field_tag_list_feedback message">
		</div>
    </div>

    <div class="actions">
        <input type="submit" class="button tags-submit" value="save" />
    </div>

</div>
