<div class="tags-edit-wrapper">
	<input name="data[ItemTag][foreign_id]" class="tag_foreign_id required" maxlength="36" type="hidden" >
	<input name="data[ItemTag][foreign_model]" class="tag_foreign_model required" maxlength="36" type="hidden" >
    <textarea name="data[ItemTag][tag_list]" class="tag_list required" maxlength="150"  placeholder="enter your tags here, separated by a comma"></textarea>
    <div class="actions">
        <input type="submit" class="button tags-submit" value="save">
    </div>
</div>