html.loading {
	.loading-screen {
		display:block;
		width:100%;
		height:100%;
		position:absolute;
		z-index:999;
		background:@white;

		.loading-screen-holder {
			width:20%;
			margin:auto;
			margin-top:7em;
		}
		.logo {
			width:187px;
			height:37px;
			background:transparent url('@{images}/logo/logo.png') 0 0 no-repeat;
			margin:2em 0;
		}
		.logo span {
			display:none;
		}
		p {
			margin:1em 0;
			font-size:.75em;
		}
	}
}
.loading-screen {
	display:none;
}
