/* header */
.login .logo {
	background:transparent url('@{images}/logo/logo.png') 0 10px no-repeat;
	width:260px;
	height:60px;
	margin-top:.5em;
}
.login .logo span {
	display:none;
}
.login form legend,
.login .information {
	display:none;
}
.login form {
	background:#EEE;
	padding:6% 0% 9% 5%;
	margin-top:2%;
}
.login form fieldset {
	margin:0;
	border:0;
}
@media all and (min-width: 768px) {
	/* form */
	.login .information {
		margin-top:2%;
		display:block;
	}
	.login form .submit {
		margin-left:2%;
	}
	.login form .forgot {
		margin-left:.8em;
	}

	/* information */
	.login .information {
		font-size:1.2em;
	}
	.login .information ul {
		list-style:circle;
		padding-left:1.5em;
	}
}
