/*
 * Login page additional styles
 */
/* header */
.page.register, /* register use the same layout */
.page.login {
	h2 {
		font-size:2em;
		margin-top:1em;
	}

	.logo {
		background: transparent url('@{images}/logo/logo.png') 0 10px no-repeat;
		width: 260px;
		height: 60px;
		margin-top: .5em;

		span {
			display: none;
		}
	}

	.form {
		background: #EEE;
		padding: 4% 5% 5% 5%;
		margin-top: 1%;

	  	form {
		  input[type=text], input[type=password] {
			width:90%;
		  }
		}
		fieldset {
			margin: 0;
			border: 0;
		}
		legend {
			display: none;
		}
		.actions-wrapper .secondary {
			margin-left:1em;
		}
		.submit {
			margin-left:2%;
			input {
				padding:.7em 1.5em;
			}
		}

		.actions-wrapper.center {
			text-align:center;
		}
	}

	.chrome-plugin-block p img {
		width: 160px;
		margin-top:20px;
	}

	.github-block .button,
	.donate-block .donate.button {
		margin-top:20px;
	}
	.message-wrapper,
	.plugin-check-wrapper {
		margin-bottom:1em;
	}

	.information p {
		font-size: 1.25em;
		margin-bottom: 1em;

		&.message {
			font-size: 1.125em;
			margin-bottom: .425em;
		}
	}

	.row + .row {
		padding-top:.5em;
		padding-bottom:2.5em;
	}

	.feedback {
		.fa.huge {
			font-size:160px;
			color:#CCC;
			text-align:center;
			padding:0;
		  	margin:0;
			display:block;
		}
		p {
			text-align: center;
			width:100%;
			font-size: 1.250em;
		  	font-weight:bold;
		}
	}
}

