/* drag n drop */
#js_dragged_resource{
	padding: 6px 10px;
	background-color: @background-default;
	border: 1px solid @border-default;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#js_dragged_resource span.name{
	font-weight: bold;
}

.panel.aside .resource .detailed-information li {
  &.password {
    .value {
      height: 1.6em;
      padding-top: 0.2em;
    }
  }
}
