.passbolt_controller_preference_workspace_controller {
  .section.detailed-information {
    .clearfix();
    .avatar {
      float: left;
      img {
        border: 1px solid @border-default;
        padding: 0;
      }
      .edit {
        width: 201px;
        height: 50px;
        background: transparent url('@{images}/controls/overlay-opacity-50.png') repeat;
        color: #fff;
        margin-top: -50px;
        position: relative;
        a {
          color: #fff;
          display: block;
          .clearfix();
          i.icon {
            display: block;
            float: left;
            &:before {
              display: block;
              float: left;
              width: 48px;
              height: 48px;
              line-height: 1.4em;
              font-size: 3em;
              text-align: center;
            }
          }
          span.text {
            display: block;
            width: 130px;
            float: left;
            margin-left: 0;
            padding: 0.5em 0.5em 0 0.5em;
            font-size: 0.8em;
          }
        }
      }
    }

    > ul {
      float: left;
      margin-left: 2em;
      li {
        margin-bottom: 1.5em;
        p > em {
          margin-top: 0.8em;
          font-size: 0.8em;
          display: block;
        }
      }
    }
  }
}