<header>
	<div class="header first">

		<nav>
			<div class="primary navigation top">
				<ul id="js_app_navigation_left" class="left" />
				<ul id="js_app_navigation_right" class="right"/>
			</div>
		</nav>
	
	</div>
	
	<div class="header second">

		<div id="userbar" class="second">

			<div class="logo">
				<h1>
					<a href="#">
						<span>Passbolt</span>
					</a>
				</h1>
			</div>

			<div id="js_notificator" class="notificator" />

			<div id="js_filter" class="search">
				<%== mad.view.View.render('app/view/template/component/appFilter.ejs') %>
			</div>

<!-----------------------------------------------------------------------------
	Login control
 ----------------------------------------------------------------------------->
			<!--
			<div id="login_container">
				<div id="login_button" class="button_icon menu_button_dropdown_icon">
					<span>biloute@gmail.com</span>
				</div>
			</div>
			-->

		</div>

	</div>
</header>

<!-----------------------------------------------------------------------------
  Workspaces Container
 ----------------------------------------------------------------------------->

<div id="js_workspaces_container"/>
