<!-----------------------------------------------------------------------------
  Menu bar
 ----------------------------------------------------------------------------->
<div id="menubar" class="grid_16 alpha omega">
	<ul id="js_menu" class="grid_8 alpha"/>
</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  User bar
 ----------------------------------------------------------------------------->

<div id="userbar" class="grid_16 alpha omega">

	<div id="logo" class="grid_3 alpha">
		<span>Passbolt</span>
	</div>

	<div id="search_container" class="grid_10">

		<div id="js_notificator" />

		<div id="search_field_container" class="grid_8 alpha">
			<input id="search_field" type="text" /> 
		</div>

		<div id="search_button_container" class="grid_2 omega">
			<div id="search_button" class="button_icon search_button_icon"/>
		</div>

	</div>

	<div id="login_container" class="grid_3 omega">
		<div id="login_button" class="button_icon menu_button_dropdown_icon">
			<span>biloute@gmail.com</span>
		</div>
	</div>

</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  Workspaces Container
 ----------------------------------------------------------------------------->

<div id="js_workspaces_container" class="grid_16 alpha omega"/>


<div class="clear"></div>