<!-----------------------------------------------------------------------------
  Menu bar
 ----------------------------------------------------------------------------->
<div id="menubar" class="grid_16 alpha omega">

	<div id="menubar_left" class="grid_8 alpha">
		<div id="js_menu_controller"/>
	</div>

	<div id="menubar_right" class="grid_8 omega">
		Menu bar Right
	</div>

</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  User bar
 ----------------------------------------------------------------------------->

<div id="userbar" class="grid_16 alpha omega">

	<div id="logo" class="grid_3 alpha">
		<span>PASSBOLT</span>
	</div>

	<div id="search_container" class="grid_10">

		<div id="js_notif_controller" />

		<div id="search_field" class="grid_8 alpha">
			<input type="text" /> 
		</div>

		<div id="search_button" class="grid_2 omega">
			<input type="button" value="search"/> 
		</div>

	</div>

	<div id="login_container" class="grid_3 omega"> <!-- 2 + 10 + 2 = 16 wtf -->
		biloute@gmail.com
	</div>

</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  Workspaces Container
 ----------------------------------------------------------------------------->

<div id="js_workspaces_container" class="grid_16 alpha omega"/>


<div class="clear"></div>