<!-- app/view/template/app.ejs -->
<div id="js_app_loading_bar" class="update-loading-bar">
	<div class="progress-bar">
		<span style="width:0%"></span>
	</div>
</div>

<div class="notification-container">
    <div id="js_app_notificator" class="notification col2_3 push_1">
    </div>
</div>

<div class="header first">

    <nav>
        <div class="primary navigation top">
            <ul id="js_app_navigation_left" class="left">
            </ul>
            <ul id="js_app_navigation_right" class="right">
            </ul>
        </div>
    </nav>

</div>

<div class="header second">

    <div class="col1">
        <div class="logo no-img">
					<h1><span>Passbolt</span></h1>
        </div>
    </div>

    <div class="col2 search-wrapper">
        <div id="js_app_filter">
        </div>
    </div>

    <div class="col3 profile-wrapper">
        <div id="js_app_profile_dropdown" class="user profile dropdown">
        </div>
    </div>
</div>

<div class="header third">

    <div class="col1 main-action-wrapper">
    </div>

	<div class="col2_3 actions-wrapper">
		<div id="js_wsp_primary_menu_wrapper" class="actions">
		</div>
		<div id="js_wsp_secondary_menu_wrapper" class="actions secondary">
		</div>
	</div>

</div>

<div id="js_app_panel_main" class="panel main">
</div>
