<header>
	<div class="header">

<!-----------------------------------------------------------------------------
	Menu bar
 ----------------------------------------------------------------------------->
		<nav>
			<div class="top navigation">
				<ul id="js_menu"/>
			</div>
		</nav>

<!-----------------------------------------------------------------------------
	User bar
 ----------------------------------------------------------------------------->

		<div id="userbar" class="second">

			<div class="logo">
				<h1>
					<a href="#">
						<span>Passbolt</span>
					</a>
				</h1>
			</div>

			<div id="js_notificator" class="notificator" />

			<div id="js_filter" class="search">
			</div>

<!-----------------------------------------------------------------------------
	Login control
 ----------------------------------------------------------------------------->
			<!--
			<div id="login_container">
				<div id="login_button" class="button_icon menu_button_dropdown_icon">
					<span>biloute@gmail.com</span>
				</div>
			</div>
			-->

		</div>

	</div>
</header>

<!-----------------------------------------------------------------------------
  Workspaces Container
 ----------------------------------------------------------------------------->

<div id="js_workspaces_container"/>
