<header>
	<div class="header">

<!-----------------------------------------------------------------------------
	Menu bar
 ----------------------------------------------------------------------------->
		<nav>
			<div class="top navigation">
				<ul id="js_menu"/>
			</div>
		</nav>

<!-----------------------------------------------------------------------------
	User bar
 ----------------------------------------------------------------------------->

		<div id="userbar" class="second">

			<div class="logo">
				<h1>
					<a href="#">
						<span>Passbolt</span>
					</a>
				</h1>
			</div>

			<div id="search_container" class="search">

				<div id="js_notificator" class="notificator" />

				<fieldset> 
					<legend>Please enter a search keyword</legend> 
					<div class="input text required">
						<label for="PasswordSearch">Search</label>
						<input name="data[Search][password]" class="required" maxlength="50" type="text" id="js_search_field">
					</div> 
					<div class="submit"><input type="submit" value="search"></div> 
				</fieldset>

			</div>

<!-----------------------------------------------------------------------------
	Login control
 ----------------------------------------------------------------------------->
			<!--
			<div id="login_container">
				<div id="login_button" class="button_icon menu_button_dropdown_icon">
					<span>biloute@gmail.com</span>
				</div>
			</div>
			-->

		</div>

	</div>
</header>

<!-----------------------------------------------------------------------------
  Workspaces Container
 ----------------------------------------------------------------------------->

<div id="js_workspaces_container"/>
