<div class="js_workspace grid_16 alpha omega">

	<!-----------------------------------------------------------------------------
	Workspace header bar
	----------------------------------------------------------------------------->

	<div class="workspace_label sidebar left">
		<%= label %>
	</div>

	<div class="workspace_actions_container content full">
	</div>

	<div class="js_workspace_view_actions_container workspace_view_actions_container">
	</div>
	
	<div class="clear"></div>
	
	<!-----------------------------------------------------------------------------
	Main area
	----------------------------------------------------------------------------->

	<div class="js_workspace_sidebar_first sidebar left">
	</div>

	<div class="js_workspace_main content full">
	</div>

	<div class="js_workspace_sidebar_second sidebar right">
	</div>

</div>
