<div class="js_workspace">

	<div class="panel left">
		<div class="navigation first shortcuts">
			<ul id="js_wsp_pwd_rs_shortcuts" class="clearfix">
			</ul>
		</div>
		<div class="navigation last tree categories">
			<ul id="js_wsp_pwd_category_chooser">
			</ul>
		</div>
	</div>

	<div class="panel middle js_workspace_main">
	</div>

	<div class="panel aside js_workspace_sidebar_second" style="display:none !important;">
	</div>

</div>
