<div class="js_workspace">

	<div class="panel left">
		<div class="navigation first shortcuts">
			<ul id="js_wsp_pwd_rs_shortcuts" class="clearfix">
			</ul>
		</div>
		<div class="navigation last tree categories">
			<ul id="js_wsp_pwd_category_chooser">
			</ul>
		</div>
	</div>

    <div id="js_wsp_pwd_breadcrumb" class="breadcrumbs">
    </div>

	<div class="panel middle js_wsp_pwd_main">
	</div>

	<div class="panel aside js_wsp_pwd_sidebar_second" style="display:none">
	</div>

</div>
