<div class="js_workspace">

	<div class="panel left js_workspace_sidebar_first">
		<div class="navigation first shortcuts todo">
			<ul>
				<li><div class="row selected"><a href="#" >All items</a></div></li>
				<li><div class="row"><a href="#" >Favorite</a></div></li>
				<li><div class="row"><a href="#" >Most used</a></div></li>
				<li><div class="row"><a href="#" >Recently modified</a></div></li>
				<li><div class="row"><a href="#" >Expiring soon</a></div></li>
				<li><div class="row"><a href="#" >Shared with me</a></div></li>
				<li><div class="row"><a href="#" >Items I own</a></div></li>
			</ul>
		</div>
		<div class="navigation last tree categories">
			<ul id="js_wsp_pwd_category_chooser">
			</ul>
		</div>
	</div>

	<div class="panel middle js_workspace_main">
	</div>

	<div class="panel aside js_wsp_pwd_sidebar_second">
	</div>

</div>
