<div class="js_workspace grid_16 alpha omega">

	<!-----------------------------------------------------------------------------
	Workspace header bar
	----------------------------------------------------------------------------->

	<div class="js_workspace_label grid_3 alpha">
		<%= label %>
	</div>

	<div class="js_workspace_actions_container grid_7">
		<ul>
			<li>
				<button id="js_new_resource_button">New</button>
			</li>
			<li>
				<button id="js_edit_resource_button">Edit</button>
			</li>
			<li>
				<button id="js_share_resource_button">Share</button>
			</li>
			<li>
				<button id="js_more_resource_button">More</button>
			</li>
		</ul>
	</div>

	<div class="js_workspace_view_actions_container grid_6 omega">
		<ul>
			<li>
				<button id="js_view_1_button">View 1</button>
			</li>
			<li>
				<button id="js_view_2_resource_button">View 2</button>
			</li>
			<li>
				<button id="js_view_custom_resource_button">Custom</button>
			</li>
		</ul>
	</div>
	
	<div class="clear"></div>
	
	<!-----------------------------------------------------------------------------
	Main area
	----------------------------------------------------------------------------->

	<div class="js_workspace_sidebar_first grid_3 alpha">
	</div>

	<div class="js_workspace_main grid_7">
	</div>

	<div class="js_workspace_sidebar_second grid_6 omega">
	</div>

</div>
