<div class="js_workspace">

	<div class="panel left">
		<div class="navigation first shortcuts">
			<ul id="js_wsp_pwd_filter_shortcuts" class="clearfix">
			</ul>
		</div>
	</div>

	<div class="panel middle">
        <div id="js_wsp_password_breadcrumb" class="breadcrumbs">
        </div>
        <div id="js_wsp_pwd_browser" class="tableview">
        </div>
	</div>

	<div id="js_pwd_details" class="panel aside js_wsp_pwd_sidebar_second">
	</div>

</div>
