<div class="js_users_workspace">

    <div class="panel left">
		<div class="navigation first shortcuts">
			<ul id="js_wsp_users_filter_shortcuts" class="clearfix">
			</ul>
		</div>
        <div class="navigation last tree groups">
            <ul id="js_wsp_users_group_chooser">
            </ul>
        </div>
    </div>

    <div class="panel middle">
        <div id="js_wsp_users_breadcrumb" class="breadcrumbs">
        </div>
        <div id="js_wsp_users_browser" class="tableview">
        </div>
    </div>

    <div class="panel aside js_wsp_users_sidebar_second">
    </div>

</div>