<div class="js_preference_workspace">

    <div class="panel left">
        <div class="navigation first">
            <ul id="js_wk_preference_menu" class="clearfix">
            </ul>
        </div>
    </div>

    <div id="js_wk_preference_main" class="panel middle">
    </div>

</div>