<div id="workspace-action-bar" class="grid_16 alpha omega">

	<!-----------------------------------------------------------------------------
	Menu bar
	----------------------------------------------------------------------------->

	<div class="grid_3 workspace-label alpha">
		<%= label %>
	</div>

	<div class="grid_7 workspace-actions-container">
		<ul>
			<li>
				<input type="button" value="new" />
			</li>
			<li>
				<input type="button" value="edit" />
			</li>
			<li>
				<input type="button" value="share" />
			</li>
			<li>
				<input type="button" value="more" />
			</li>
		</ul>
	</div>

	<div class="grid_6 workspace-view-actions-container omega">
		<ul>
			<li>
				<input type="button" value="view 1" />
			</li>
			<li>
				<input type="button" value="view 2" />
			</li>
			<li>
				<input type="button" value="custom" />
			</li>
		</ul>
	</div>
	
	<div class="clear"></div>
	
	<!-----------------------------------------------------------------------------
	Main area
	----------------------------------------------------------------------------->

	<div class="grid_3 js_workspace_sidebar_first alpha">
	</div>

	<div class="grid_7 js_workspace_main">
	</div>

	<div class="grid_6 js_workspace_sidebar_second omega">
	</div>

</div>

