<!-----------------------------------------------------------------------------
  Menu bar
 ----------------------------------------------------------------------------->
<div id="menubar" class="grid_16 alpha omega">

	<div id="menubar-left" class="grid_8 alpha">
		<div id="js-menu-controller"/>
	</div>

	<div id="menubar-right" class="grid_8 omega">
		Menu bar Right
	</div>

</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  User bar
 ----------------------------------------------------------------------------->

<div id="userbar" class="grid_16 alpha omega">

	<div id="logo" class="grid_2 alpha">
		<span>PASSBOLT</span>
	</div>

	<div id="search-container" class="grid_10">

		<div id="js-notif-controller" class="notif-controller"/>

		<div id="search-field" class="grid_8 alpha">
			<input type="text" /> 
		</div>

		<div id="search-button" class="grid_2 omega">
			<input type="button" value="search"/> 
		</div>

	</div>

	<div id="login-container" class="grid_2 omega"> <!-- 2 + 10 + 2 = 16 wtf -->
		biloute@gmail.com
	</div>

</div>

<div class="clear"></div>

<!-----------------------------------------------------------------------------
  Workflow Container
 ----------------------------------------------------------------------------->

<div id="js-workspaces-controller" />
