<h1>My Sample Application</h1>

<div id="js_workspaces_container" />

<button id="js_simple_button">Simple Button</button>

<hr/>

<button id="js_show_hidden_options_button">Show options</button>

<div id="js_hidden_options"/>

<hr/>

<button id="js_show_popup_button">Show popup</button>

<hr/>

<button id="js_create_model_popup_button">Show Create form for the brol model</button>
